<div class="main-container">
  <h4>Listado de Comprobantes</h4>
  <form [formGroup]="forma">
    <div class="form-group row">
      <div class="col-3">
        <label class="col-form-label">Opciones de Busqueda:</label>
        <select class="form-control form-control-sm">
          <option value="0">Mes de Proceso...</option>
          <option value="1">Enero</option>
          <option value="2">Febrero</option>
          <option value="3">Marzo</option>
          <option value="4">Abril</option>
          <option value="5">Mayo</option>
          <option value="6">Junio</option>
          <option value="7">Julio</option>
          <option value="8">Agosto</option>
          <option value="9">Setiembre</option>
          <option value="10">Octubre</option>
          <option value="11">Noviembre</option>
          <option value="12">Diciembre</option>
        </select>
      </div>

    </div>

    <div class="form-group row">
      <div class="col-2">
        <button [routerLink]="['/comprobante']" type="button" name="btn_nuevo" class="btn btn-primary btn-sm">
          <i class="fas fa-plus-circle"></i>
          Nuevo Comprobante
        </button>
      </div>
      <div class="col-3">
        <button (click)="cargarComprobantes()" class="btn btn-warning btn-sm" type="button">
          Buscar Documentos
          <i class="fas fa-search"></i>
        </button>
      </div>
    </div>
  </form>


  
    <table class="table table-striped">
      <thead class="">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Num.Compro</th>
          <th scope="col">F.Emision</th>
          <th scope="col">F.Entrega</th>
          <th scope="col">Cliente</th>
          <th scope="col">Glosa</th>
          <th scope="col">Estado</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of eComprobantes">
          <td scope="row">
            <a [routerLink]="['/vistacompro',item.IDCOMPRO]">{{item.IDCOMPRO}}</a>
          </td>
          <td>{{item.NUMERO}}</td>
          <td>{{item.FECHAEMI}}</td>
          <td>{{item.FECHAENT}}</td>
          <td>{{item.CLIENTE}}</td>
          <td>{{item.GLOSA}}</td>
          <td>{{item.ESTADO}}</td>
        </tr>
      </tbody>

    </table>
  

</div>