<div *ngIf="bol_msj" class="alert alert-success alert-dismissible fade show" role="alert">
  Se registro Correctamente!.
</div>

<div class="main">
  <div class="row">

    <div class="col-3" style="background-color: white; color: navy">
      <h4><i> Comprobante de Pago</i> </h4>
    </div>
    <div class="col-5" style="background-color: white">
      Punto de Venta : {{ptoVta}}
    </div>
    <div class="col-4" style="background-color: white">
      <div class="btn-group" role="group" aria-label="Basic example">
        <button [routerLink]="['/comprobantes']" type="button" class="btn btn-outline-secondary btn-sm">
          <i class="fas fa-chevron-circle-left"></i>Regresar</button>
        <button (click)="nuevoDocument()" type="button" class="btn btn-outline-secondary btn-sm">
          <i class="far fa-file"></i>Nuevo</button>
      </div>
      <span>&nbsp;</span>
      <div class="btn-group" role="group" aria-label="Basic example">
        <button (click)="grabarDocumento()" class="btn btn-outline-secondary btn-sm">
          <i [ngClass]="{'fa-save':!cargando, 'fa-sync-alt fa-spin':cargando}" class="fas"></i>
          <span *ngIf="!cargando">Guardar</span>
          <span *ngIf="cargando">Espere por favor</span>
        </button>
        <button (click)="imprimir()" [disabled]="bol_cargando" type="button" class="btn btn-outline-secondary btn-sm">
          <i class="fas fa-print"></i>Imprimir</button>
      </div>
    </div>

  </div>


  <hr>

  <form [formGroup]="forma" role="form">
    <div class="row">


      <div class="col-1">
        <label for="VH_IDORDER" class="control-label">Pedido</label>
        <input formControlName="VH_IDORDER" size="20" placeholder="001-2" type="text" id="VH_IDORDER" class="form-control form-control-sm">
      </div>

      <div class="col-1">
        <label for="VH_IDGUIDE" class="control-label">GuiaRemi</label>
        <input formControlName="VH_IDGUIDE" size="20" type="text" id="VH_IDGUIDE" class="form-control form-control-sm">
      </div>

      <div class="col-1">
        <label for="VH_GSSER" class="control-label">Ser.Guia</label>
        <input formControlName="VH_GSSER" size="20" type="text" id="VH_GSSER" class="form-control form-control-sm">
      </div>

      <div class="col-1">
        <label for="VH_GSNUM" class="control-label">Num.Guia</label>
        <input formControlName="VH_GSNUM" size="20" type="text" id="VH_GSNUM" class="form-control form-control-sm">
      </div>

      <div class="col-2">
        <label for="VH_VOUCHERDATE" class="control-label">Emision</label>
        <input formControlName="VH_VOUCHERDATE" size="20" type="date" id="VH_VOUCHERDATE" class="form-control form-control-sm">
      </div>

      <div class="col-2">
        <label for="VH_DELIVERDATE">Entrega</label>
        <input formControlName="VH_DELIVERDATE" type="date" id="VH_DELIVERDATE" class="form-control form-control-sm">
      </div>

      <div class="col-4">
        <label for="VH_TDOC">Comprobante Nº</label>
        <div class="form-inline">
          <select formControlName="VH_TDOC" class="form-control form-control-sm" id="VH_TDOC" (change)="getSeriesxDoc($event.target.value)">
            <option *ngFor="let item of eDocumentos" [value]="item.SS_ID_DOCUMENT">{{item.SS_ID_DOCUMENT}}</option>
          </select>
          <select formControlName="VH_SDOC" class="form-control form-control-sm" id="VH_SDOC" (change)="getCorrelativo($event.target.value)">
            <option *ngFor="let item of eSerieNumeros" [value]="item.SS_SERIE">{{item.SS_SERIE}}</option>
          </select>
          <input size="10" type="text" class="form-control form-control-sm" formControlName="VH_NDOC" id="VH_NDOC">
        </div>
      </div>

    </div>

    <div class="row">

      <div class="col-1">
        <label for="VH_IDCURRENCY">Moneda</label>
        <select formControlName="VH_IDCURRENCY" class="form-control form-control-sm" id="VH_IDCURRENCY">
          <option *ngFor="let item of eMonedas" [value]="item.MO_ID">{{item.MO_ID}}</option>
        </select>
      </div>

      <div class="col-2">
        <label for="VH_IDSELLER">Vendedor</label>
        <select formControlName="VH_IDSELLER" class="form-control form-control-sm" id="VH_IDSELLER">
          <option *ngFor="let item of eVendedores" [value]="item.SE_ID">{{item.SE_DESCRIPCION}}</option>
        </select>
      </div>

      <div class="col-2">
        <label for="VH_IDPAYMENTTYPE" class="control-label">Forma de Pago</label>
        <select formControlName="VH_IDPAYMENTTYPE" class="form-control form-control-sm" id="VH_IDPAYMENTTYPE">
          <option *ngFor="let item of eFormaPagos" [value]="item.PT_ID">{{item.PT_DES}}</option>
        </select>
      </div>

      <div class="col-2">
        <label for="VH_IDCENCOST">Centro de Costo</label>
        <select formControlName="VH_IDCENCOST" class="form-control form-control-sm" id="VH_IDCENCOST">
          <option *ngFor="let item of eCentroCostos" [value]="item.ID_CENTER_COST">{{item.DESCRIPTION_CENTER_COST}}</option>
        </select>
      </div>

      <div class="col-2">
        <label for="VH_IDPROJECT">Proyecto</label>
        <select formControlName="VH_IDPROJECT" class="form-control form-control-sm" id="VH_IDPROJECT">
          <option *ngFor="let item of eProyectos" [value]="item.PJ_ID">{{item.PJ_DES}}</option>
        </select>
        <p></p>
      </div>

      <div class="col-2">
        <label for="VH_IDSALESTYPE" class="control-label">Tipo de Venta</label>
        <select formControlName="VH_IDSALESTYPE" class="form-control form-control-sm" id="VH_IDSALESTYPE">
          <option *ngFor="let item of eTipoVentas" [value]="item.ST_ID">{{item.ST_DES}}</option>
        </select>
      </div>


    </div>

    <p></p>

    <div class="row">
      <div class="col-12">
        <div class="form-inline">
          <label for="VH_IDCUSTOMER" class="col-1">Cliente:</label>
          <div class="input-group input-group-sm">
            <input formControlName="VH_IDCUSTOMER" size="5" type="text" id="VH_IDCUSTOMER" class="form-control form-control-sm">
            <button (click)="abrirModalClientes()"
            class="btn btn-outline-secondary btn-sm" 
            type="button" id="button-addon2" 
             data-target=".bd-example-modal-lg">
              <i class="fas fa-user"></i>
            </button>
          </div>
          <input formControlName="VH_CODCUSTOMER" size="20" type="text" id="VH_CODCUSTOMER" class="form-control form-control-sm">
          <input formControlName="VH_DESCUSTOMER" size="75" type="text" id="VH_DESCUSTOMER" class="form-control form-control-sm">
          <button type="button" class="btn btn-outline-secondary btn-sm" data-toggle="modal" data-target=".pedidos-modal-lg">
            <i class="fas fa-id-card-alt"></i>
            Buscar Ordenes</button>
        </div>

      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <div class="form-inline">
          <label for="VH_DELIVERYADD" class="col-1">Entrega:</label>
          <input formControlName="VH_DELIVERYADD" size="121" type="text" id="VH_DELIVERYADD" class="form-control form-control-sm" placeholder="Direccion de entrega">
        </div>
      </div>
    </div>

    <p></p>

    <div class="row">


      <div class="col-2">
        <label for="VH_IDWILCARD">Comodin</label>
        <select formControlName="VH_IDWILCARD" class="form-control form-control-sm" id="VH_IDWILCARD">
          <option *ngFor="let item of eComodines" [value]="item.ID_COMMODITY_TYPE">{{item.DESCRIPTION_COMMODITY}}</option>
        </select>
      </div>
      <div class="col-8" style="background-color:white;">
        <label for="VH_COMMENT">Glosa:</label>
        <input formControlName="VH_COMMENT" size="90" type="text" id="VH_COMMENT" class="form-control form-control-sm" placeholder="Observaciones/comentarios/notas">
      </div>
      <div class="col-2" style="background-color:white; padding-top: 30px">
        <button (click)="nuevoDet()" class="btn btn-outline-secondary btn-sm" type="button">
          <i class="fas fa-check-circle"></i>Agregar Articulo</button>
      </div>


    </div>

    <p></p>

    <div class="row">

    </div>

  </form>

  <hr>

  <table class="table table-sm" *ngIf="bol_lisdet">
    <thead class="thead-light">
      <tr>
        <th scope="col">Item</th>
        <th scope="col">Codigo</th>
        <th scope="col">Articulo</th>
        <th scope="col">Unidad</th>
        <th scope="col">Cantidad</th>
        <th scope="col">Prec.Unit</th>
        <th scope="col">Total</th>
        <th scope="col">Opciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let d of vservicio.eComprobantesTmp">
        <td>{{d.item}}</td>
        <td>{{d.codigo}}</td>
        <td>{{d.articulo}}</td>
        <td>{{d.unidad}}</td>
        <td>{{d.cantidad}}</td>
        <td>{{d.preunit}}</td>
        <td>{{d.total}}</td>
        <td>
          <button (click)="eliminarItem(d.item)" type="button" class="btn btn-outline-danger btn-sm">
            <i class="fas fa-trash-alt"></i></button>
        </td>
      </tr>
    </tbody>
  </table>


  <!-- seccion html para agregar detalles -->
  <form [formGroup]="frmDet" *ngIf="!bol_lisdet">
    <div class="row">
      <div class="col-12" style="background-color:white">
        <div class="form-inline">
          <label for="txtidarticulo" class="col-1">Articulo:</label>
          <div class="input-group input-group-sm">
            <input formControlName="F_IDARTICULO" size="4" type="text" id="txtidarticulo" class="form-control form-control-sm">
            <button class="btn btn-outline-secondary btn-sm" type="button" id="button-addon2" 
              data-toggle="modal" data-target=".bd-detalle-modal-lg">
              <i class="fas fa-search"></i>
            </button>
          </div>

          <input formControlName="F_DESARTICULO" size="60" type="text" id="txtdesarticulo" class="form-control form-control-sm">
          <label for="txtunimed" class="col-1">Uni.Med:</label>
          <input formControlName="F_UNIMED" size="10" type="text" id="txtunimed" class="form-control form-control-sm">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12" style="background-color:white">
        <div class="form-inline">
          <label for="txtcantidad" class="col-1">Cantidad:</label>
          <input (change)="calcularTotal()" formControlName="F_CANTIDAD" size="10" type="text" id="txtcantidad" class="form-control form-control-sm">
          <label for="txtprecio" class="col-2">Precio Unitario:</label>
          <input (change)="calcularTotal()" formControlName="F_PRECIO" size="10" type="text" id="txtprecio" class="form-control form-control-sm">
          <label for="txttotal" class="col-1">Total:</label>
          <input (change)="calcularTotal()" formControlName="F_TOTAL" size="10" type="text" id="txttotal" class="form-control form-control-sm">

          <button [disabled]="!this.frmDet.valid"
           (click)="agregaItem()" class="btn btn-outline-secondary btn-sm"><i class="fas fa-check-circle"></i>Aceptar</button>
          <button (click)="cancelarItem()" class="btn btn-outline-secondary btn-sm"><i class="fas fa-ban"></i>Cancelar</button>

        </div>
      </div>
    </div>

  </form>


</div>



<!-- Modal Clientes -->
<div class="modal fade bd-example-modal-lg" 
id="myModalClientes" 
tabindex="-1" 
role="dialog" 
aria-labelledby="exampleModalLabel"
  aria-hidden="true"
  data-backdrop = "static"
  data-keyboard="false" >
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          Lista de Clientes</h5>
        
      </div>
      <div class="modal-body">

        <div class="form-group row">
          <div class="col-2">
            <label class="form-label">Filtrar</label>
          </div>
          <div class="col-8">

            <div class="input-group input-group-sm">
              <input type="text" #txtpatron class="form-control" aria-describedby="button-addon2">
              <div class="input-group-append">
                <button (click)="HelpBuscarClientes(txtpatron)" class="btn btn-outline-secondary" type="button">Okcli</button>
              </div>
            </div>

          </div>
        </div>

        <div class="table-responsive-sm">
          <table class="table table-sm">
            <thead>
              <tr>
                <th>#</th>
                <th>codigo</th>
                <th>Doc</th>
                <th>Descripcion</th>
                <th>Opcion</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let p of eClientes, let i = index">
                <th>{{ i+1 }}</th>
                <td>{{ p.ID_CUSTOMER }}</td>
                <td>{{ p.NUMBER_DOCUMENT }}</td>
                <td>{{ p.DESCRIPTION_CUSTOMER }} </td>
                <td>
                  <button (click)="HelpCargarCliente(p.ID_CUSTOMER)" data-dismiss="modal" type="button" class="btn btn-outline-success btn-sm">Sel</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="cerrarModalClientes()">Cerrar</button>        
      </div>
    </div>
  </div>
</div>






<!-- Modal Articulo-->
<div class="modal fade bd-detalle-modal-lg" id="detalleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Lista de Articulos</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <div class="form-group row">
          <div class="col-2">
            <label class="form-label">Filtrar</label>
          </div>
          <div class="col-8">
            <div class="input-group input-group-sm mb-3">
              <input type="text" #txtpatronArti class="form-control" aria-describedby="button-addon2" placeholder="nombre de articulo">
              <div class="input-group-append">
                <button (click)="HelpBuscarArticulos(txtpatronArti)" class="btn btn-outline-secondary btn-sm" type="button">Ok</button>
              </div>
            </div>
          </div>
        </div>

        <div class="table-responsive-sm">
          <table class="table table-sm">
            <thead>
              <tr>
                <th>#</th>
                <th>codigo</th>
                <th>Descripcion</th>
                <th>Unidad</th>
                <th>Stock</th>
                <th>Eliminar</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let a of eArticulos, let i = index">
                <th>{{ i+1 }}</th>
                <td>{{ a.ID_ARTICLE }}</td>
                <td>{{ a.DESCRIPTION_ARTICLE }}</td>
                <td>{{ a.ID_UNIT }}</td>
                <td>{{ a.SKU_ARTICLE }}</td>
                <td>
                  <button (click)="HelpCargarArticulo(a.ID_ARTICLE)" data-dismiss="modal" type="button" class="btn btn-outline-success btn-sm">Sel</button>
                  <!-- <button (click)="HelpCargarProveedor(a.ID_ARTICLE)" data-dismiss="modal" type="button" class="btn btn-outline-success">Sel</button> -->
                </td>
              </tr>
            </tbody>
          </table>
        </div>




      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary">Aceptar</button>
      </div>
    </div>
  </div>
</div>




<!-- Modal Buscar Pedidos-->
<div class="modal fade pedidos-modal-lg" id="detalleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Lista de Pedidos</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <div class="form-group row">
          <div class="col-2">
            <label class="form-label">Cliente</label>
          </div>
          <div class="col-8">
            <div class="input-group input-group-sm mb-3">
              <input type="text" #txtpatronA class="form-control" aria-describedby="button-addon2" placeholder="codigo cliente">
              <div class="input-group-append">
                <button (click)="HelpBuscarPedidos(txtpatronA)" class="btn btn-outline-secondary btn-sm" type="button">Ok</button>
              </div>
            </div>
            <small>Solo se muestran los pedidos 'Emitidos(E)' o 'Parciales(P)'</small><br>
            <small>Pedidos facturados no aparecen 'Facturado(F)</small>
          </div>
        </div>

        <div class="table-responsive-sm">
          <table class="table table-sm">
            <thead>
              <tr>
                <th>Id.Ped</th>
                <th>Serie/Num.</th>
                <th>Fec.Emision</th>
                <th>Glosa</th>
                <th>Estado</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let a of ePedidosAyuda, let i = index">

                <td>{{ a.IDORDER }}</td>
                <td>{{ a.NUMERO }}</td>
                <td>{{ a.FECEMI }}</td>
                <td>{{ a.GLOSA }}</td>
                <td>{{ a.ESTADO }}</td>
                <td>
                  <button (click)="HelpCargarPedido(a.IDORDER)" data-dismiss="modal" type="button" class="btn btn-outline-success btn-sm">Sel</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>




      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary">Aceptar</button>
      </div>
    </div>
  </div>
</div>