<app-msgsuccess *ngIf="bol_msj" [textoOk]="msj_ok"></app-msgsuccess>
<app-msgerror *ngIf="bol_msjError" [error]="msjError"></app-msgerror>


<div class="main">
  <div class="form-group row">
    <div class="col-3">
      <h5>Comprobante de Pago</h5>
    </div>
    <div class="col-3">
      Punto de Venta : {{ptoVta}}
    </div>
    <div class="col-3">
      Almacen : {{IdAlmacen}}
    </div>
  </div>

  <hr>

  <div class="row col-md-12">

    <div class="col-2" style="background-color: white">

      <button [routerLink]="['/comprobantes']" type="button" class="btn btn-danger btn-sm btn-block">
        <i class="fas fa-chevron-circle-left"></i>Regresar</button>
    </div>
    <div class="col-2" style="background-color: white">
      <button (click)="nuevoDocument()" type="button" class="btn btn-info btn-sm btn-block">
        <i class="far fa-file"></i>Nuevo</button>
    </div>

    <div class="col-2" style="background-color: white">
      <button (click)="grabarDocumento()" class="btn btn-success btn-sm btn-block" type="button">
        <i [ngClass]="{'fa-save':!cargando, 'fa-sync-alt fa-spin':cargando}" class="fas"></i>
        <span *ngIf="!cargando">Guardar</span>
        <span *ngIf="cargando">Espere por favor</span>
      </button>
    </div>

    <div class="col-2" style="background-color: white">
      <button (click)="imprimir()" [disabled]="bol_cargando" type="button" class="btn btn-warning btn-sm btn-block">
        <i class="fas fa-print"></i>Imprimir</button>
    </div>



  </div>





  <!-- <div class="row">

    <div class="col-5" style="background-color: white">
      <div class="btn-group" role="group" aria-label="Basic example">
        <button [routerLink]="['/comprobantes']" type="button" class="btn btn-danger btn-sm">
          <i class="fas fa-chevron-circle-left"></i>Regresar</button>
        <button (click)="nuevoDocument()" type="button" class="btn btn-danger btn-sm">
          <i class="far fa-file"></i>Nuevo</button>
      </div>

      <span>&nbsp;</span>

      <div class="btn-group" role="group" aria-label="Basic example">
        <button (click)="grabarDocumento()" class="btn btn-success btn-sm" type="button">
          <i [ngClass]="{'fa-save':!cargando, 'fa-sync-alt fa-spin':cargando}" class="fas"></i>
          <span *ngIf="!cargando">Guardar</span>
          <span *ngIf="cargando">Espere por favor</span>
        </button>
        <button (click)="imprimir()" [disabled]="bol_cargando" type="button" class="btn btn-success btn-sm">
          <i class="fas fa-print"></i>Imprimir</button>
      </div>
    </div>

  </div> -->


  <hr>

  <form [formGroup]="forma" role="form" (ngSubmit)="grabarDocumento()">
    <div class="form-group row">


      <!-- <div class="col-1">
        <label for="VH_IDORDER" class="control-label">Pedido</label>
        <input formControlName="VH_IDORDER" size="20" placeholder="001-2" type="text" id="VH_IDORDER" class="form-control form-control-sm">
      </div>

      <div class="col-1">
        <label for="VH_IDGUIDE" class="control-label">GuiaRemi</label>
        <input formControlName="VH_IDGUIDE" size="20" type="text" id="VH_IDGUIDE" class="form-control form-control-sm">
      </div> -->

      <div class="col-2">
        <label for="VH_GSSER" class="control-label">Ser.Guia</label>

        <select [ngClass]="{'is-invalid': this.forma.get('VH_GSSER').invalid,
                          'is-valid': this.forma.get('VH_GSSER').valid}"
          formControlName="VH_GSSER" class="custom-select" id="VH_GSSER" (change)="getCorrelativoGuia($event.target.value)">
          <option *ngFor="let item of eSerieNumerosGuia" [value]="item.SS_SERIE">{{item.SS_SERIE}}</option>
        </select>

        <!-- <input formControlName="VH_GSSER" size="20" type="text" id="VH_GSSER" class="form-control form-control-sm"> -->
      </div>

      <div class="col-2">
        <label for="VH_GSNUM" class="control-label">Num.Guia</label>
        <input formControlName="VH_GSNUM" size="30" type="text" id="VH_GSNUM" class="form-control form-control-sm">
      </div>

      <div class="col-2">
        <label for="VH_VOUCHERDATE" class="control-label">Emision</label>
        <input formControlName="VH_VOUCHERDATE" size="20" type="date" id="VH_VOUCHERDATE" class="form-control form-control-sm">
      </div>

      <div class="col-2">
        <label for="VH_DELIVERDATE">Entrega</label>
        <input formControlName="VH_DELIVERDATE" type="date" id="VH_DELIVERDATE" class="form-control form-control-sm">
      </div>

      <div class="col-4">
        <label for="VH_TDOC">Comprobante Nº</label>
        <div class="form-inline">
          <select [ngClass]="{'is-invalid': this.forma.get('VH_TDOC').invalid,
                          'is-valid': this.forma.get('VH_TDOC').valid}"
            formControlName="VH_TDOC" class="custom-select" id="VH_TDOC" (change)="getSeriesxDoc($event.target.value)">
            <option *ngFor="let item of eDocumentos" [value]="item.SS_ID_DOCUMENT">{{item.SS_ID_DOCUMENT}}</option>
          </select>
          <select [ngClass]="{'is-invalid': this.forma.get('VH_SDOC').invalid,
                          'is-valid': this.forma.get('VH_SDOC').valid}"
            formControlName="VH_SDOC" class="custom-select" id="VH_SDOC" (change)="getCorrelativo($event.target.value)">
            <option *ngFor="let item of eSerieNumeros" [value]="item.SS_SERIE">{{item.SS_SERIE}}</option>
          </select>
          <input [ngClass]="{'is-invalid': this.forma.get('VH_NDOC').invalid,
                          'is-valid': this.forma.get('VH_NDOC').valid}"
            size="10" type="text" class="form-control form-control-sm text-center" formControlName="VH_NDOC" id="VH_NDOC">
        </div>
      </div>

    </div>

    <div class="form-group row">

      <div class="col-1">
        <label for="VH_IDCURRENCY">Moneda</label>
        <select formControlName="VH_IDCURRENCY" class="custom-select" id="VH_IDCURRENCY">
          <option *ngFor="let item of eMonedas" [value]="item.MO_ID">{{item.MO_ID}}</option>
        </select>
      </div>

      <div class="col-2">
        <label for="VH_IDSELLER">Vendedor</label>
        <select formControlName="VH_IDSELLER" class="custom-select" id="VH_IDSELLER">
          <option *ngFor="let item of eVendedores" [value]="item.SE_ID">{{item.SE_DESCRIPCION}}</option>
        </select>
      </div>

      <div class="col-2">
        <label for="VH_IDPAYMENTTYPE" class="control-label">Forma de Pago</label>
        <select formControlName="VH_IDPAYMENTTYPE" class="custom-select" id="VH_IDPAYMENTTYPE">
          <option *ngFor="let item of eFormaPagos" [value]="item.PT_ID">{{item.PT_DES}}</option>
        </select>
      </div>

      <div class="col-2">
        <label for="VH_IDCENCOST">Centro de Costo</label>
        <select formControlName="VH_IDCENCOST" class="custom-select" id="VH_IDCENCOST">
          <option *ngFor="let item of eCentroCostos" [value]="item.ID_CENTER_COST">{{item.DESCRIPTION_CENTER_COST}}</option>
        </select>
      </div>

      <div class="col-2">
        <label for="VH_IDPROJECT">Proyecto</label>
        <select formControlName="VH_IDPROJECT" class="custom-select" id="VH_IDPROJECT">
          <option *ngFor="let item of eProyectos" [value]="item.PJ_ID">{{item.PJ_DES}}</option>
        </select>
        <p></p>
      </div>

      <div class="col-2">
        <label for="VH_IDSALESTYPE" class="control-label">Tipo de Venta</label>
        <select formControlName="VH_IDSALESTYPE" class="custom-select" id="VH_IDSALESTYPE">
          <option *ngFor="let item of eTipoVentas" [value]="item.ST_ID">{{item.ST_DES}}</option>
        </select>
      </div>


    </div>

    <p></p>

    <div [ngClass]="{'has-danger': this.forma.get('VH_IDCUSTOMER').invalid,
                    'has-success': this.forma.get('VH_IDCUSTOMER').valid}"
      class="form-group row">
      <div class="col-12">
        <div class="form-inline">
          <label for="VH_IDCUSTOMER" class="col-1">Cliente:</label>
          <div class="input-group input-group-sm">
            <input [ngClass]="{'is-invalid': this.forma.get('VH_IDCUSTOMER').invalid,
                          'is-valid': this.forma.get('VH_IDCUSTOMER').valid}"
              formControlName="VH_IDCUSTOMER" size="5" type="text" id="VH_IDCUSTOMER" class="form-control form-control-sm text-center">
            <button (click)="abrirModalClientes()" class="btn btn-secondary btn-sm" type="button" id="button-addon2"
              data-target=".bd-example-modal-lg">
              <i class="fas fa-user"></i>
            </button>
          </div>
          <input [ngClass]="{'is-invalid': this.forma.get('VH_CODCUSTOMER').invalid,
                          'is-valid': this.forma.get('VH_CODCUSTOMER').valid}"
            formControlName="VH_CODCUSTOMER" size="20" type="text" id="VH_CODCUSTOMER" class="form-control form-control-sm text-center"
            placeholder="Dni / Ruc" #txtrucdni (keyup.enter)="buscarClintexDocumento(txtrucdni.value)">
          <input [ngClass]="{'is-invalid': this.forma.get('VH_DESCUSTOMER').invalid,
                          'is-valid': this.forma.get('VH_DESCUSTOMER').valid}"
            formControlName="VH_DESCUSTOMER" size="75" type="text" id="VH_DESCUSTOMER" class="form-control form-control-sm">
          <button (click)="abrirModalBuscarOrdenes()" type="button" class="btn btn-secondary btn-sm">
            <i class="fas fa-id-card-alt"></i>Pedidos</button>
        </div>

      </div>
    </div>

    <div [ngClass]="{'has-danger': this.forma.get('VH_DELIVERYADD').invalid,
                    'has-success': this.forma.get('VH_DELIVERYADD').valid}"
      class="form-group row">
      <div class="col-12">
        <div class="form-inline">
          <label for="VH_DELIVERYADD" class="col-1">Entrega:</label>
          <input formControlName="VH_DELIVERYADD" size="121" type="text" id="VH_DELIVERYADD" class="form-control form-control-sm"
            placeholder="Direccion de entrega">
        </div>
      </div>


    </div>

    <p></p>

    <div class="form-group row">
      <div class="col-2">
        <label for="VH_IDWILCARD">Comodin:</label>
        <select formControlName="VH_IDWILCARD" class="custom-select" id="VH_IDWILCARD">
          <option *ngFor="let item of eComodines" [value]="item.ID_COMMODITY_TYPE">{{item.DESCRIPTION_COMMODITY}}</option>
        </select>
      </div>
      <div [ngClass]="{'has-danger': this.forma.get('VH_COMMENT').invalid,
                    'has-success': this.forma.get('VH_COMMENT').valid}"
        class="col-8" style="background-color:white;">
        <label for="VH_COMMENT">Glosa:</label>
        <input [ngClass]="{'is-invalid': this.forma.get('VH_COMMENT').invalid,
                          'is-valid': this.forma.get('VH_COMMENT').valid}"
          formControlName="VH_COMMENT" size="90" type="text" id="VH_COMMENT" class="form-control form-control-sm"
          placeholder="Observaciones/comentarios/notas">
      </div>
      <div class="col-2" style="background-color:white; padding-top: 30px">
        <!-- <button (click)="nuevoDet()" class="btn btn-outline-secondary btn-sm" type="button">
          <i class="fas fa-check-circle"></i>Agregar Articulo</button> -->
      </div>
    </div>

    <p></p>

    <fieldset class="well">
      <legend class="well-legend">Pago en Ventanilla</legend>

      <div class="form-group col-12">
        <div class="form-inline">

          <div class="col-md-2">
            <label for="VH_ISCASHCARD" class="col-1">Tipo.Pago:</label>
            <select formControlName="VH_ISCASHCARD" class="custom-select" id="VH_ISCASHCARD">
              <option value="E">EFECTIVO</option>
              <option value="T">TARJETA</option>
            </select>
          </div>
          <div class="col-md-3">
            <label for="VH_CARDTYPE" class="col-1">Tarjeta:</label>
            <select formControlName="VH_CARDTYPE" class="custom-select" id="VH_CARDTYPE">
              <option *ngFor="let item of eTarjetas" [value]="item.CC_ID">{{item.CC_DES}}</option>
            </select>
          </div>
          <div class="col-md-2">
            <label for="VH_OPENUMCARD" class="col-1">Num.Ope:</label>
            <input formControlName="VH_OPENUMCARD" size="20" type="text" name="VH_OPENUMCARD" placeholder="num.operacion"
              class="form-control form-control-sm text-center" id="VH_OPENUMCARD">
          </div>
          <div class="col-md-2">
            <label for="VH_PAYAMOUNT" class="col-1">Pago:</label>
            <input formControlName="VH_PAYAMOUNT" size="10" type="text" name="VH_PAYAMOUNT" placeholder="monto.pago"
              class="form-control form-control-sm text-center" id="VH_PAYAMOUNT">
          </div>

          <div class="col-md-2">
            <label for="VH_CHANGEAMOUNT" class="col-1">Vuelto:</label>
            <input formControlName="VH_CHANGEAMOUNT" size="10" type="text" name="VH_CHANGEAMOUNT" placeholder="vuelto"
              class="form-control form-control-sm text-center" id="VH_CHANGEAMOUNT">
          </div>

        </div>
      </div>

    </fieldset>

    <div class="col-md-12" style="text-align: right; padding-top: 20px;">
      <button (click)="nuevoDet()" class="btn btn-info btn-sm" type="button" [disabled]="!this.forma.valid">
        <i class="fas fa-check-circle"></i>Agregar Articulo</button>
    </div>


    <hr>

    <table class="table table-striped" *ngIf="bol_lisdet">
      <thead class="">
        <tr>
          <th scope="col">Item</th>
          <th scope="col">Codigo</th>
          <th scope="col">Articulo</th>
          <th scope="col">Unidad</th>
          <th scope="col">Cantidad</th>
          <th scope="col">Prec.Unit</th>
          <th scope="col">Total</th>
          <th colspan="2">Opciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let d of vservicio.eComprobantesTmp">
          <td>{{d.item}}</td>
          <td>{{d.codigo}}</td>
          <td>{{d.articulo}}</td>
          <td>{{d.unidad}}</td>
          <td>{{d.cantidad}}</td>
          <td>{{d.preunit}}</td>
          <td>{{d.total}}</td>
          <td>
            <button (click)="eliminarItem(d.item)" type="button" class="btn btn-danger btn-sm">
              <i class="fas fa-trash-alt"></i></button>
          </td>
          <td>
            <button (click)="editarItem(d.item)" type="button" class="btn btn-primary btn-sm">
              <i class="fas fa-edit"></i></button>
          </td>
        </tr>
        <tr>
          <td colspan="7">
            <div class="form-inline" style="float: right;">
              <label for="" class="col-2">SubTotal</label>
              <input [value]="subtotalDet|number" formControlName="VH_SUBTOT" size="10" type="text" name="VH_SUBTOT"
                placeholder="subtotal" class="form-control form-control-sm text-center" readonly="readonly">
              <label for="" class="col-1">Igv</label>
              <input [value]="igvDet|number" formControlName="VH_TAX" size="10" type="text" name="VH_TAX" placeholder="igv"
                class="form-control form-control-sm text-center" readonly="readonly">
              <label for="" class="col-1">Total</label>
              <input [value]="totDet|number" formControlName="VH_TOT" size="10" type="text" name="VH_TOT" placeholder="total"
                class="form-control form-control-sm text-center" readonly="readonly">
            </div>
          </td>
        </tr>
      </tbody>
    </table>

  </form>

  <!-- seccion html para agregar detalles -->
  <form [formGroup]="frmDet" *ngIf="!bol_lisdet">

    <div class="row">
      <div class="col-12" style="background-color:white">
        <div class="form-inline">
          <label for="txtidarticulo" class="col-1">Articulo:</label>
          <div class="input-group input-group-sm">
            <input formControlName="F_IDARTICULO" size="4" type="text" id="txtidarticulo" class="form-control form-control-sm text-center"
              readonly="readonly">
            <button class="btn btn-outline-secondary btn-sm" type="button" id="button-addon2" data-toggle="modal"
              data-target=".bd-detalle-modal-lg">
              <i class="fas fa-search"></i>
            </button>
          </div>

          <input formControlName="F_DESARTICULO" size="60" type="text" id="txtdesarticulo" class="form-control form-control-sm">
          <label for="txtunimed" class="col-1">Uni.Med:</label>
          <input formControlName="F_UNIMED" size="10" type="text" id="txtunimed" class="form-control form-control-sm text-center"
            readonly="readonly">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12" style="background-color:white">
        <div class="form-inline">
          <label for="txtcantidad" class="col-1">Cantidad:</label>
          <input (change)="calcularTotal()" formControlName="F_CANTIDAD" size="10" type="text" id="txtcantidad" class="form-control form-control-sm text-center">
          <label for="txtprecio" class="col-2">Precio Unitario:</label>
          <input (change)="calcularTotal()" formControlName="F_PRECIO" size="10" type="text" id="txtprecio" class="form-control form-control-sm text-center">
          <label for="txttotal" class="col-1">Total:</label>
          <input (change)="calcularTotal()" formControlName="F_TOTAL" size="10" type="text" id="txttotal" class="form-control form-control-sm text-center">
        </div>
      </div>
    </div>

    <div class="form-group row">

      <div class="col-3 form-inline" style="background-color:white">
        <div class="custom-control custom-checkbox">
          <input disabled="disabled" formControlName="f_chkEslote" type="checkbox" class="custom-control-input" id="customCheck1">
          <label class="custom-control-label" for="customCheck1">Lote</label>
        </div>
        <select (change)="cambioLote($event.target.value)" class="custom-select" id="inputGroupSelect04"
          formControlName="f_cmbLote">
          <option *ngFor="let a of eLotes" [value]="a.IDLOT">{{a.IDLOT}}</option>
        </select>
      </div>

      <div class="col-3 form-inline" style="background-color:white">
        <label class="col-form-label">Stock.Lote</label>
        <input class="form-control form-control-sm text-center" type="text" formControlName="f_txtStockLote" readonly="readonly">
      </div>
      <div class="col-2 text-center" style="background-color:white">
        <button [disabled]="!this.frmDet.valid" (click)="agregaItem()" class="btn btn-primary btn-sm"><i class="fas fa-check-circle"></i>Aceptar</button>
      </div>
      <div class="col-2 text-center" style="background-color:white">
        <button (click)="cancelarItem()" class="btn btn-danger btn-sm"><i class="fas fa-ban"></i>Cancelar</button>
        <input type="hidden" value="" formControlName="F_ITEM">
      </div>
      <div class="col-2 form-inline" style="background-color:white">
      </div>


    </div>

  </form>


</div>



<!-- Modal Clientes -->
<div class="modal fade bd-example-modal-lg" id="myModalClientes" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"> Lista de Clientes</h5>
      </div>
      <div class="modal-body">

        <div class="form-group row">
          <div class="col-2">
            <label class="form-label">Filtrar</label>
          </div>
          <div class="col-8">

            <div class="input-group input-group-sm">
              <input type="text" #txtpatron (keyup.enter)="HelpBuscarClientes(txtpatron)" class="form-control"
                aria-describedby="button-addon2">
              <div class="input-group-append">
                <button (click)="HelpBuscarClientes(txtpatron)" class="btn btn-outline-secondary" type="button">
                  <i class="fas fa-search"></i></button>
              </div>
            </div>

          </div>
        </div>

        <div class="table-responsive-sm">
          <table class="table table-sm">
            <thead>
              <tr>
                
                <!-- <th>codigo</th> -->
                <th>Doc</th>
                <th>Descripcion</th>
                <th>Opcion</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let p of eClientes, let i = index">
                
                <!-- <td>{{ p.ID_CUSTOMER }}</td> -->
                <td>{{ p.NUMBER_DOCUMENT }}</td>
                <td>{{ p.DESCRIPTION_CUSTOMER }} </td>
                <td>
                  <button (click)="HelpCargarCliente(p.ID_CUSTOMER)" data-dismiss="modal" type="button" class="btn btn-outline-success btn-sm">
                    <i class="fas fa-check-circle"></i></button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="cerrarModalClientes()">Cerrar</button>
      </div>
    </div>
  </div>
</div>






<!-- Modal Articulo-->
<div class="modal fade bd-detalle-modal-lg" id="detalleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Lista de Articulos</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <div class="form-group row">
          <div class="col-2">
            <label class="form-label">Filtrar</label>
          </div>
          <div class="col-8">
            <div class="input-group input-group-sm mb-3">
              <input type="text" #txtpatronArti (keyup.enter)="HelpBuscarArticulos(txtpatronArti)" class="form-control"
                aria-describedby="button-addon2" placeholder="nombre de articulo">
              <div class="input-group-append">
                <button (click)="HelpBuscarArticulos(txtpatronArti)" class="btn btn-outline-secondary btn-sm" type="button"><i
                    class="fas fa-search"></i></button>
              </div>
            </div>
          </div>
        </div>

        <div class="table-responsive-sm">
          <table class="table table-sm">
            <thead>
              <tr>
                <th>codigo</th>
                <th>Descripcion</th>
                <th>Unidad</th>
                <th>Lote?</th>
                <th>Seleccionar</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let a of eArticulos, let i = index">
                <td>{{ a.COD_ALT }}</td>
                <td>{{ a.DESCRIPTION_ARTICLE }}</td>
                <td>{{ a.ID_UNIT }}</td>
                <td>
                  <span *ngIf="a.SKU_ARTICLE ==1">SI</span>
                  <span *ngIf="a.SKU_ARTICLE ==0">NO</span>
                </td>
                <td>
                  <button (click)="HelpCargarArticulo(a.ID_ARTICLE)" data-dismiss="modal" type="button" class="btn btn-outline-success btn-sm">
                    <i class="fas fa-check-circle"></i></button>
                  <!-- <button (click)="HelpCargarProveedor(a.ID_ARTICLE)" data-dismiss="modal" type="button" class="btn btn-outline-success">Sel</button> -->
                </td>
              </tr>
            </tbody>
          </table>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary">Aceptar</button>
      </div>
    </div>
  </div>
</div>




<!-- Modal Buscar Pedidos-->
<div class="modal fade pedidos-modal-lg" id="ModalBuscarPedidos" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Lista de Pedidos</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <!-- <div class="form-group row">
          <div class="col-2">
            <label class="form-label">Cliente</label>
          </div>
          <div class="col-8">
            <div class="input-group input-group-sm mb-3">
              <input type="text" #txtpatronA class="form-control" aria-describedby="button-addon2" placeholder="codigo cliente">
              <div class="input-group-append">
                <button (click)="HelpBuscarPedidos(txtpatronA)" class="btn btn-outline-secondary btn-sm" type="button">Ok</button>
              </div>
            </div>
            <small>Solo se muestran los pedidos 'Emitidos(E)' o 'Parciales(P)'</small><br>
            <small>Pedidos facturados no aparecen 'Facturado(F)</small>
          </div>
        </div> -->
        <p>
          <small>Solo se muestran los pedidos 'Emitidos(E)' o 'Parciales(P)'| </small>
          <small>Pedidos facturados no aparecen 'Facturado(F)</small>
        </p>
        <div class="table-responsive-sm">
          <table class="table table-sm">
            <thead>
              <tr>
                <th>Id.Ped</th>
                <th>Serie/Num.</th>
                <th>Fec.Emision</th>
                <th>Glosa</th>
                <th>Estado</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let a of ePedidosAyuda, let i = index">

                <td>{{ a.IDORDER }}</td>
                <td>{{ a.NUMERO }}</td>
                <td>{{ a.FECEMI }}</td>
                <td>{{ a.GLOSA }}</td>
                <td>{{ a.ESTADO }}</td>
                <td>
                  <button data-dismiss="modal" (click)="HelpCargarPedido(a.IDORDER)" type="button" class="btn btn-outline-success btn-sm">Sel</button>
                  <!-- data-dismiss="modal" -->
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <!-- <div>
          <table>
            <tr>
              <td>id orden</td>
              <td>item</td>
              <td>ID articulo</td>
              <td>articulo</td>
              <td>unidad</td>
              <td>cantidad</td>
              <td>despachado</td>
              <td>precio</td>
              <td>total</td>
              <td>estado</td>
            </tr>
            <tr *ngFor="let item of eDetallePedidotmp">
              <td>{{item.IDORDER}}</td>
              <td>{{item.ITEM}}</td>
              <td>{{item.IDARTICULO}}</td>
              <td>{{item.ARTICULO}}</td>
              <td>{{item.UNIDAD}}</td>
              <td>{{item.CANTIDAD}}</td>
              <td>{{item.CANTIDADDES}}</td>
              <td>{{item.PRECIO}}</td>
              <td>{{item.TOTAL}}</td>
              <td>{{item.ESTADO}}</td>
            </tr>
          </table>
        </div> -->


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        <!-- <button type="button" class="btn btn-primary">Aceptar</button> -->
      </div>
    </div>
  </div>
</div>