<div class="main-container">
    
    <h4 class="card-title">Lista de Proveedores</h4>
    <hr>
  
    <button [routerLink]="['/proveedor','nuevo']" type="button" name="btn_nuevo" class="btn btn-outline-primary">
      <i class="fas fa-plus-circle"></i></button>
    <br>
    <br>
  
    <div class="row animated fadeIn fast">
      <div class="col-md-12">
        <div class="table-responsive">  

          <table class="table table-striped">
            <thead class="">
              <tr>
                <td>Codigo</td>
                <td>Descripcion</td>
                <td>Doc.</td>
                <td>Numero</td>
                <td>Contacto</td>
                <td>Telefono</td>
                <td>Correo.Electronico</td>
                <td>Opciones</td>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let c of eProveedores">
                <td>{{ c.ID_PROVIDER }}</td>
                <td>{{ c.DESCRIPTION_PROVIDER }}</td>
                <td>{{ c.DOCUMENT_TYPE_PROVIDER }}</td>
                <td>{{ c.NUMBER_DOCUMENT }}</td>
                <td>{{ c.CONTACT }}</td>
                <td>{{ c.MOVIL_CONTACT }}</td>
                <td>{{ c.EMAIL }}</td>
                <td>
                  <button [routerLink]="['/proveedor',c.ID_PROVIDER]" type="button" class="btn btn-success btn-sm">
                    <i class="fas fa-edit"></i></button>
                  <button (click)="borrarProveedor(c.ID_PROVIDER)" type="button" class="btn btn-danger btn-sm">
                      <i class="fas fa-trash-alt"></i></button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>