<div class="main">
    <h4>Ventas por Vendedor</h4>
    <hr>
    <form [formGroup]="forma" role="form">
      <div class="row">
        <div class="col-3">
          <label for="cmbvendedor">Vendedor</label>
          <select formControlName="cmbvendedor" class="custom-select" id="cmbvendedor">
            <option *ngFor="let item of eVendedor" [value]="item.SE_ID">{{item.SE_DESCRIPCION}}</option>
          </select>
        </div>
  
        <div class="col-2">
          <label for="txtfec1" class="control-label">Emision</label>
          <input formControlName="txtfec1" size="20" type="date" id="txtfec1" class="form-control form-control-sm">
        </div>
  
        <div class="col-2">
          <label for="txtfec2" class="control-label">Emision</label>
          <input formControlName="txtfec2" size="20" type="date" id="txtfec2" class="form-control form-control-sm">
        </div>
  
        <div class="col-4">
          <button (click)="CargarReporte()" type="button" class="btn btn-warning no-print btn-sm">Ver Reporte</button>
          <button (click)="imprimir()" type="button" class="btn btn-warning no-print btn-sm">
            <i class="fas fa-print"></i>Imprimir</button>
        </div>
      </div>
    </form>
    <hr>
  
    <table class="table table-striped">
      <thead class="">
        <tr>
          <th>CLIENTE</th>
          <th>FECHA</th>
          <th>TIPDOC</th>
          <th>SERDOC</th>
          <th>NUMDOC</th>
          <th>CANTI</th>
          <th>PRECUNIT</th>
          <th>TOTAL</th>
          <th>TC</th>
        </tr>
      </thead>
      <tbody>
  
        <tr *ngFor="let item of eListado">
          <td>{{item.CLIENTE}}</td>
          <td>{{item.FECHA}}</td>
          <td>{{item.TIPDOC}}</td>
          <td>{{item.SERDOC}}</td>
          <td>{{item.NUMDOC}}</td>
          <td>{{item.CANTI}}</td>
          <td>{{item.PRECUNIT}}</td>
          <td>{{item.TOTAL}}</td>
          <td>{{item.TC}}</td>
        </tr>
  
      </tbody>
    </table>
  
  
  </div>