<div class="main-container">
  <h1>Lista de Vendedores</h1>
  <hr>

  <button [routerLink]="['/vendedor','nuevo']" type="button" name="btn_nuevo" class="btn btn-outline-primary">
    <i class="fas fa-plus-circle"></i></button>
  <br>
  <br>

  <div class="row  animated fadeIn fast">
    <div class="col-md-12">
      <div class="table-responsive">

        <table class="table table-sm">
          <thead class="thead-light">
            <tr>
              <th scope="col">Codigo</th>
              <th scope="col">Descripcion</th>
              <th scope="col">Opciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let u of eVendedores">
              <th>{{ u.SE_ID }}</th>
              <td>{{ u.SE_DESCRIPCION }}</td>
              <td>
                <button [routerLink]="['/vendedor',u.SE_ID]" type="button" class="btn btn-outline-success btn-sm">
                  <i class="fas fa-edit"></i></button>
                <button (click)="borrarVendedor(u.SE_ID)" type="button" class="btn btn-outline-danger btn-sm">
                    <i class="fas fa-trash-alt"></i></button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>