<div class="main-container">
  <h4 class="card-title">Lista de Cuenta Corriente</h4>
  <hr>

  <button [routerLink]="['/ctacte','nuevo']" type="button" name="btn_nuevo" class="btn btn-outline-primary">
    <i class="fas fa-plus-circle"></i>
  </button>
  <br>

  <div class="row  animated fadeIn fast">
    <table class="table table-striped">
      <thead class="">
        <tr>
          <td>Codigo</td>
          <td>Cuenta Corriente</td>
          <td>Banco</td>
          <td>Moneda</td>
          <td>Descripcion</td>
          <td>Opciones</td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cc of eCtacte">
          <td>{{ cc.AB_ID }}</td>
          <td>{{ cc.AB_IDBANKACCOUNT }}</td>
          <td>{{ cc.AB_IDBANK }}</td>
          <td>{{ cc.AB_CURRENCY }}</td>
          <td>{{ cc.AB_DESCRIPTION }}</td>
          <td>
            <button [routerLink]="['/ctacte',cc.AB_ID]" type="button" class="btn btn-success btn-sm">
              <i class="fas fa-edit"></i>
            </button>

            <button (click)="borrarCtacte(cc.AB_ID)" type="button" class="btn btn-danger btn-sm">
              <i class="fas fa-trash-alt"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>