<div class="main-container">
    <app-msgerror *ngIf="bol_error" [error]="msj_error"></app-msgerror>
    
  <h4 class="card-title">Lista de Familias</h4>
  <hr>
  <div class="form-group row">
    <button [routerLink]="['/familia','nuevo']" type="button" name="btn_nuevo" class="btn btn-outline-primary">
      <i class="fas fa-plus-circle"></i>Nuevo</button>
  </div>

  <app-loading *ngIf="bol_cargando"></app-loading>
  <div class="row  animated fadeIn fast" *ngIf="!bol_cargando">
    <table class="table table-striped">
      <thead class="">
        <tr>
          <th>Codigo</th>
          <th>Descripcion</th>
          <th colspan="2" style="text-align: center">Opciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let fa of eFamilia">
          <td>{{ fa.ID_FAMILY }}</td>
          <td>{{ fa.DESCRIPTION_FAMILY }}</td>
          <td style="text-align: center">
            <button [routerLink]="['/familia',fa.ID_FAMILY]" type="button" class="btn btn-success btn-sm">
              <i class="fas fa-edit"></i></button>
          </td>
          <td>
            <button (click)="borrarFamilia(fa.ID_FAMILY)" type="button" class="btn btn-danger btn-sm">
              <i class="fas fa-trash-alt"></i></button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>