<div class="main-container">
  <h4 class="card-title">Lista de Familias</h4>
  <hr>
  <button [routerLink]="['/familia','nuevo']" type="button" name="btn_nuevo" class="btn btn-outline-primary">
    <i class="fas fa-plus-circle"></i></button>
  <br>
  <br>
  <div class="row  animated fadeIn fast">
    <table class="table table-striped">
      <thead class="">
        <tr>
          <td>Codigo</td>
          <td>Descripcion</td>
          <td>Opciones</td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let fa of eFamilia">
          <td>{{ fa.ID_FAMILY }}</td>
          <td>{{ fa.DESCRIPTION_FAMILY }}</td>
          <td>
            <button [routerLink]="['/familia',fa.ID_FAMILY]" type="button" class="btn btn-success btn-sm">
              <i class="fas fa-edit"></i></button>

            <button (click)="borrarCentrocosto(fa.ID_FAMILY)" type="button" class="btn btn-danger btn-sm">
              <i class="fas fa-trash-alt"></i></button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>