<div class="row">
  <div class="form-group col-md-1">
    <button [routerLink]="['/planillacoblista']" class="btn btn-outline-danger btn-sm">
      <i class="fas fa-backspace"></i>Regresar</button>
  </div>
  <div class="form-group col-md-10 text-center">
    <h4> <label>Detalle de Planilla</label></h4>
  </div>
</div>


<hr>

<form [formGroup]="forma" role="form">

  <div class="row col-12">

    <div class="col-2">
      <div class="form-group">
        <small class="form-text text-muted">Numero de Planilla</small>
        <input formControlName="CO_ID" type="text" name="txtnumplanilla" class="form-control form-control-sm">
      </div>
    </div>
    <div class="col-3">
      <div class="form-group">
        <small class="form-text text-muted">Fecha de Registro</small>
        <input formControlName="CO_DATE" type="date" name="fechainicio" class="form-control form-control-sm">
      </div>
    </div>
    <div class="col-2">
      <div class="form-group">
        <small class="form-text text-muted">Tipo de Cambio</small>
        <input formControlName="CO_TC" type="text" name="txttc" class="form-control form-control-sm">
      </div>
    </div>


  </div>
  <div class="row">
    <div class="col-2">
      <div class="form-group" style="vertical-align:bottom ;display: table-cell">
        <button [disabled]="bolgrabar" (click)="grabarPlanilla()" class="btn btn-outline-info btn-sm">
          <i class="fas fa-save"></i> Grabar Planilla</button>
      </div>
    </div>
    <div class="col-2">
      <div class="form-group" style="vertical-align:middle ;display: table-cell">
        <button [disabled]="bolagregar" [routerLink]="['/planillacobingdoc',idPla,fecPla]" class="btn btn-outline-info btn-sm">
          <i class="fas fa-plus-circle"></i> Agregar Documento</button>
      </div>
    </div>

  </div>

</form>

<hr>


<div class="row  animated fadeIn fast">
  <div class="col-md-12">
    <div class="table-responsive">

      <table class="table table-sm">
        <thead class="thead-light">
          <th>Item</th>
          <th>Doc</th>
          <th>Nro</th>
          <th>Ruc</th>
          <th>Cliente</th>
          <th>Mon</th>
          <th>Monto</th>
          <th>Doc.Ref</th>
          <th>Num.Ref</th>
          <th>Concepto de Cobro</th>
        </thead>
        <tbody>
          <tr *ngFor="let item of eDetalles">
            <td><small>{{item.ITEM}}</small></td>
            <td><small>{{item.TD}}</small></td>
            <td><small>{{item.SD}}-{{item.ND}}</small></td>
            <td><small>{{item.RUC}}</small></td>
            <td><small>{{item.CLIENTE}}</small></td>
            <td><small>{{item.MN}}</small></td>
            <td><small>{{item.MONTO}}</small></td>
            <td><small>{{item.TDR}}</small></td>
            <td><small>{{item.SDR}}-{{item.NDR}}</small></td>
            <td><small>{{item.CONCEPTO}}</small></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>