<div class="row col-md-12">
  <div class="form-group col-md-1">
    <button [routerLink]="['/planillacobnuevo',IdPlanilla,fePlanilla]" class="btn btn-danger btn-sm">
      <i class="fas fa-backspace"></i>Regresar</button>
  </div>
  <div class="form-group col-md-11 text-center">
    <h4>Agregar Documentos</h4>
  </div>
</div>

<div class="row">
  <div class="col-md-3">
    <h5> Numero de Planilla: {{ IdPlanilla }}</h5>
  </div>
  <div class="col-md-4">
    <h5> Fecha de Planilla: {{ fePlanilla }}</h5>
  </div>
</div>

<hr>
<div [ngClass]="{'has-danger': this.forma.get('IDCUSTOMER').invalid,
                    'has-success': this.forma.get('IDCUSTOMER').valid}"
  class="form-group row" [formGroup]="forma">
  <div class="col-12">
    <div class="form-inline">
      <label class="col-1">Cliente:</label>
      <div class="input-group input-group-sm">
        <div class="input-group-prepend">
          <button (click)="abrirModalClientes()" class="btn btn-outline-secondary btn-sm" type="button" id="button-addon1">
            <i class="fas fa-user"></i></button>
        </div>
        <input [ngClass]="{'is-invalid': this.forma.get('IDCUSTOMER').invalid,
                          'is-valid': this.forma.get('IDCUSTOMER').valid}"
          formControlName="IDCUSTOMER" size="5" type="text" class="form-control form-control-sm text-center"
          placeholder="" aria-label="Example text with button addon" aria-describedby="button-addon1">
      </div>

      <input [ngClass]="{'is-invalid': this.forma.get('CODCUSTOMER').invalid,
                          'is-valid': this.forma.get('CODCUSTOMER').valid}"
        formControlName="CODCUSTOMER" size="20" type="text" class="form-control form-control-sm text-center" name="txtruccli"
        placeholder="Dni / Ruc" #txtrucdni (keyup.enter)="buscarClientexDocumento(txtrucdni.value)">

      <input [ngClass]="{'is-invalid': this.forma.get('DESCUSTOMER').invalid,
                          'is-valid': this.forma.get('DESCUSTOMER').valid}"
        formControlName="DESCUSTOMER" size="40" type="text" class="form-control form-control-sm text-center" name="txtdescli">
      <div class="form-group">
        <!-- <button (click)="BuscarDocumentosPendientes()" type="button" class="btn btn-outline-warning btn-sm">
                   <i class="fas fa-search"></i>
          Facturas </button> -->
      </div>

    </div>
  </div>
</div>

<hr>

<div [formGroup]="formaCobros" class="row animated fadeIn fast">

  <div class="form-group row col-md-12">
    <div class="col-md-2">
      <label>
        <h5> Cobranza en :</h5>
      </label>
    </div>
    <div class="col-md-2">
      <label>Moneda :</label>
      <select formControlName="cmbmoneda" class="custom-select">
        <option *ngFor="let item of eMonedas" [value]="item.MO_ID">{{item.MO_DES}}</option>
      </select>
    </div>
    <div class="col-md-2">
      <label>tc:</label><input formControlName="txttc" size="10" type="text" class="form-control form-control-sm">
    </div>
    <div class="col-md-2">
      <label>Monto : </label><input formControlName="txtmontocob" id="txtmontocob" size="20" type="text" class="form-control form-control-sm">
    </div>
    <div class="col-md-2">
      <label>Gasto:</label><input size="10" type="text" class="form-control form-control-sm">
    </div>
    <div class="col-md-2">
      <label>Al Cambio :</label><input formControlName="txtmontoaltc" size="10" type="text" class="form-control form-control-sm">
    </div>

  </div>

</div>

<hr>

<div class="row">
  <div class="col-md-2">
    <button (click)="bol_verTabla = !bol_verTabla" class="btn btn-warning btn-sm btn-block">
      <i class="fas fa-search"></i>
      <span *ngIf="!bol_verTabla">Mostrar Facturas</span>
      <span *ngIf="bol_verTabla">Ocultar Facturas</span>
    </button>
  </div>
  <div class="col-md-2">
    <button class="btn btn-warning btn-sm btn-block">
      <i class="fas fa-search"></i>Re-Cargar</button>
  </div>
</div>

<div class="col-md-10">
  <app-loading *ngIf="bol_cargando"></app-loading>
  <table class="table table-striped" *ngIf="bol_verTabla">
    <thead>
      <tr>
        <th>Sel.</th>
        <th>Docum.</th>
        <th>Mon</th>
        <th>T/C.</th>
        <th>Monto</th>
        <th>Saldo</th>
        <th>Emision</th>
        <th>Vencnto</th>
      </tr>
    </thead>
    <tbody>

      <tr *ngIf="eCartera.length == 0">
        <td colspan="8">No hay datos para mostrar</td>
      </tr>

      <tr *ngFor="let doc of eCartera">

        <td>
          <input class="form-check-input" (change)="marcarFT($event,doc)" [id]="doc.CM_ID" type="checkbox" name="chk1">

          <!-- <div class="custom-control custom-checkbox">
              <input (change)="marcarFT($event,doc)" 
               type="checkbox" class="custom-control-input"
               [id]="doc.CM_ID" name="chk1">
            </div> -->

        </td>

        <td>{{doc.CM_SERIR_DOC}} - {{doc.CM_NUMBER_DOC}}</td>
        <td>{{doc.CM_CURRENCY_ID}}</td>
        <td>{{CM_SELL_RATE | number: '1.2-3' }}</td>
        <td>{{doc.CM_AMOUNT | number }} </td>
        <td>{{doc.CM_AMOUNT_BALANCE | number }}</td>
        <td>{{doc.CM_DOC_DATE | date: 'dd/MM/yyyy'}}</td>
        <td>{{doc.CM_CADUCATE_DATE | date: 'dd/MM/yyyy'}}</td>

      </tr>
    </tbody>
  </table>

</div>




<hr>



<div class="row">
  <div class="col-md-5">
    <div class="card">
      <div class="card-header">
        <label for="">Total de Documentos a Cobrar</label>
      </div>
      <div class="card-body">
        <h5 class="card-title"></h5>

        <div class="">
          <table class="table table-sm">
            <thead class="thead-light">
              <th>Documento</th>
              <th>Cobro Sol.</th>
              <th>Cobro Dol.</th>
            </thead>
            <tbody>
              <tr *ngFor="let tmp of eCarteraTmp">
                <td>{{tmp.TD}}-{{tmp.SD}}-{{tmp.ND}}</td>
                <td>{{tmp.COBROORI | number }}</td>
                <td>{{tmp.COBROORIDOL | number }}</td>
              </tr>
              <tr>
                <td>Totales=></td>
                <td>0.00</td>
                <td>0.00</td>
              </tr>
            </tbody>
          </table>
        </div>
        <button (click)="CobrarDocumentos()" class="btn btn-success btn-block">
          <i class="fas fa-hand-holding-usd"></i><b> Registrar Cobranza</b></button>
      </div>
    </div>
  </div>


  <div class="col-md-7">

    <div class="card">
      <div class="card-header">
        Datos de Cobranza
      </div>
      <div class="card-body">
        <h5 class="card-title"></h5>

        <div [formGroup]="formaPagos" style="background-color: white">


          <div class="form-group row">
            <div class="col-md-5" [ngClass]="{'has-danger': !formaPagos.get('cmbtipocobranza').valid }">
              <label for="">Tipo Cobranza</label>
              <select formControlName="cmbtipocobranza" class="custom-select" id="" (change)="mostrarGrupo($event.target.value)">
                <option *ngFor="let item of eTipoTransaccionesCaja" [value]="item.TC_IDTRANSCOLLECTION">{{item.TC_DESCRIPTION}}</option>
              </select>
            </div>
            <div class="col-md-7">
              <label for="">Glosa</label>
              <input formControlName="txtglosa" type="text" class="form-control form-control-sm" name="" id=""
                aria-describedby="helpId" placeholder="">
            </div>

          </div>


          <div id="gbDepositos" *ngIf="bolDeposito">
            <div class="form-group row">
              <div class="col-md-5">
                <label for="">Banco</label>
                <select formControlName="cmbbanco" class="custom-select" id="cmbbanco" (change)="getCtasBancos($event.target.value)">
                  <option *ngFor="let item of eBancos" [value]="item.BA_IDBANK">{{item.BA_DESCRIPTIONS}}</option>
                </select>
                <label for="">Cuenta Corriente</label>
                <select formControlName="cmbnumctabanco" class="custom-select" id="cmbnumctabanco">
                  <option *ngFor="let item of eCtasBancos" [value]="item.AB_ID"> {{item.AB_IDBANKACCOUNT}}</option>
                </select>
              </div>
              <div class="col-md-7">
                <label for="">Doc.ref</label>
                <select formControlName="cmbdocrefban" class="custom-select" id="cmbdocrefban">
                  <option *ngFor="let item of eDocumentos1" [value]="item.ID_DOCUMENT"> {{item.DOCUMENT_DESCRIPTION}}
                  </option>
                </select>
                <label for="">Num.Ref</label>
                <input formControlName="txtnumref" type="text" name="txtnumref" class="form-control form-control-sm">
              </div>
            </div>
          </div>

          <div id="gbAplicacionDoc" *ngIf="bolAplicacion">
            <div class="form-group row">
              <div class="col-md-4">
                <label for="">Doc.Ref</label>
                <select formControlName="cmbdocrefapli" class="custom-select" id="cmbdocrefapli">
                  <option *ngFor="let item of eDocumentos2" [value]="item.ID_DOCUMENT"> {{item.DOCUMENT_DESCRIPTION}}
                  </option>
                </select>
              </div>
              <div class=" col-md-2">
                <label for="">Ser.Ref</label>
                <input formControlName="txtserdocrefapli" type="text" class="form-control form-control-sm">
              </div>
              <div class="col-md-2">
                <label for="">Num.Ref</label>
                <input formControlName="txtnumdocrefapli" type="text" class="form-control form-control-sm">
              </div>
              <div class=" col-md-2">
                <label for="">Monto</label>
                <input formControlName="txtmondocrefapli" type="text" class="form-control form-control-sm">
              </div>
            </div>
            <div class="form-group row">
              <div class="col-md-4">
                <label for="">Fecha.Ref</label>
                <input formControlName="txtfecdocrefapli" type="date" class="form-control form-control-sm">
              </div>
            </div>
          </div>

          <div id="gbEfectivo" *ngIf="bolEfectivo">
            <div class="form-group row">
              <div class="col-md-4">
                <label for="">Doc.Ref</label>
                <select formControlName="cmbdocrefefe" class="custom-select" id="cmbdocrefefe">
                  <option *ngFor="let item of eDocumentos3" [value]="item.ID_DOCUMENT"> {{item.DOCUMENT_DESCRIPTION}}
                  </option>
                </select>
              </div>
              <div class="col-md-4">
                <label for="">Numero.Ref</label>
                <input formControlName="txtnumdocrefefe" type="text" class="form-control form-control-sm">
              </div>
            </div>

          </div>

          <div id="gbTarjeta" *ngIf="bolTarjeta">
            <div class="form-group row">
              <div class="col-md-4">
                <label for="">Tarjeta</label>
                <select formControlName="cmbtarjeta" class="custom-select" id="cmbtarjeta">
                  <option *ngFor="let item of eTarjetas" [value]="item.CC_ID">{{item.CC_DES}}</option>
                </select>
              </div>
              <div class="col-md-4">
                <label for="">Numero.Ope</label>
                <input formControlName="txtnumope" type="text" class="form-control form-control-sm">
              </div>
            </div>
          </div>


        </div>

      </div>
    </div>

  </div>


</div>



<!-- Modal Clientes -->
<div class="modal fade " id="myModalClientes" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog " role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          Lista de Clientes</h5>

      </div>
      <div class="modal-body">

        <div class="form-group row">
          <div class="col-md-2">
            <label class="form-label">Filtrar</label>
          </div>
          <div class="col-md-6">

            <div class="input-group input-group-sm">
              <input type="text" #txtpatron (keyup.enter)="HelpBuscarClientes(txtpatron)" class="form-control form-control-sm"
                aria-describedby="button-addon2">
              <div class="input-group-append">
                <button (click)="HelpBuscarClientes(txtpatron)" class="btn btn-outline-secondary btn-sm" type="button">
                  <i class="fas fa-search"></i>Buscar</button>
              </div>
            </div>

          </div>
        </div>

        <div class="form-group row">

          <div class="col-md-10 col-xs-3">

            <div class="table-responsive-sm">
              <table class="table table-sm">
                <thead>
                  <tr>
                    <!-- <th>#</th>
                <th>codigo</th> -->
                    <th>Doc</th>
                    <th>Descripcion</th>
                    <th>Opcion</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let p of eClientes, let i = index">
                    <!-- <th>{{ i+1 }}</th>
                <td>{{ p.ID_CUSTOMER }}</td> -->
                    <td>{{ p.NUMBER_DOCUMENT }}</td>
                    <td> {{ p.DESCRIPTION_CUSTOMER }} </td>
                    <td>
                      <button (click)="HelpCargarCliente(p.ID_CUSTOMER)" data-dismiss="modal" type="button" class="btn btn-outline-success btn-sm">
                        Sel</button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>

          </div>

        </div>


      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="cerrarModalClientes()">Cerrar</button>
      </div>
    </div>
  </div>
</div>


<!-- Modal Monto A Cobrar -->

<!-- Modal -->
<div class="modal fade" id="myModalMonto" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Factura :
          <span>
            {{ eCarteraFila.TD }}-
            {{ eCarteraFila.SD }}-
            {{ eCarteraFila.ND }}
          </span></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-4">
            Monto Original : <input type="text" [value]="eCarteraFila.MONTOORI" class="form-control form-control-sm"
              readonly>
            Saldo : <input type="text" [value]="eCarteraFila.SALDOORI" class="form-control form-control-sm" readonly>
            Monto a Cobrar : <input type="text" [value]="eCarteraFila.COBROORI" class="form-control form-control-sm" id="monto">
          </div>
          <div class="col-md-4" *ngIf="bolCobroDolar">
            Monto en Dolares : <input type="text" [value]="eCarteraFila.MONTOORIDOL" class="form-control form-control-sm"
              readonly>
            Saldo en Dolares: <input type="text" [value]="eCarteraFila.SALDOORIDOL" class="form-control form-control-sm"
              readonly>
            Monto a Cobrar en Dolares : <input type="text" [value]="eCarteraFila.COBROORIDOL" class="form-control form-control-sm"
              id="montoDolar">
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button (click)="cerrarModalMonto()" type="button" class="btn btn-primary">Aceptar</button>
      </div>
    </div>
  </div>
</div>