<p class="ktitulo01">
  Lista de Planillas 
</p>

<div>
  Fecha Inicio
  <input type="date" name="fechainicio" class="form-control">
</div>
<div>
  Fecha Final
  <input type="date" name="fechafinal" class="form-control">
</div>
<br>
<div>
  <button class="btn btn-info btn-block">Consultar</button>
</div>

<hr>

<div class="row  animated fadeIn fast">
  <div class="col-md-12">
    <div class="table-responsive">

      <table class="table table-sm">
        <thead class="thead-light">
          <th>N°Planillas</th>
          <th>Fecha</th>
          <th>Total de Cobraza Soles</th>
          <th>Total de Cobraza Dolares</th>
        </thead>
        <tbody>
<tr>
  <td></td>
</tr>
        </tbody>
      </table>
    </div>
  </div>
</div>