<div class="row">
  <div class="form-group col-md-1">
    <button [routerLink]="['/planillacoblista']" class="btn btn-danger btn-sm">
      <i class="fas fa-backspace"></i>Regresar</button>
  </div>
  <div class="form-group col-md-10 text-center">
    <h4> Detalle de Planilla</h4>
  </div>
</div>


<hr>

<form [formGroup]="forma" role="form">

  <div class="form-group row col-12">

    <div class="col-2">
      <div class="form-group">
        <label>Numero de Planilla</label>
        <input formControlName="CO_ID" type="text" name="txtnumplanilla" class="form-control form-control-sm">
      </div>
    </div>
    <div class="col-3">
      <div class="form-group">
        <label>Fecha de Registro</label>
        <input formControlName="CO_DATE" type="date" name="fechainicio" class="form-control form-control-sm">
      </div>
    </div>
    <div class="col-2">
      <div class="form-group">
        <label>Tipo de Cambio</label>
        <input formControlName="CO_TC" type="text" name="txttc" class="form-control form-control-sm">
      </div>
    </div>

  </div>


  <div class="row">
    <div class="col-2">
      <div class="form-group" style="vertical-align:bottom ;display: table-cell">
        <button [disabled]="bolgrabar" (click)="grabarPlanilla()" class="btn btn-success btn-sm">
          <i class="fas fa-save"></i> Registrar Nueva Planilla </button>
      </div>
    </div>
    <div class="col-2">
      <div class="form-group" style="vertical-align:middle ;display: table-cell">
        <button [disabled]="bolagregar" [routerLink]="['/planillacobingdoc',idPla,fecPla]" class="btn btn-info btn-sm">
          <i class="fas fa-plus-circle"></i> Agregar Documento</button>
      </div>
    </div>

  </div>

</form>

<hr>


<div class="row animated fadeIn fast">
        <table class="table table-striped">
        <thead class="">
          <th>Item</th>
          <th>Doc</th>
          <th>Nro</th>
          <th>Ruc</th>
          <th>Cliente</th>
          <th>Mon</th>
          <th>Monto</th>
          <th>Doc.Ref</th>
          <th>Num.Ref</th>
          <th>Concepto de Cobro</th>
        </thead>
        <tbody>
          <tr *ngFor="let item of eDetalles">
            <td>{{item.ITEM}}</td>
            <td>{{item.TD}}</td>
            <td>{{item.SD}}-{{item.ND}}</td>
            <td>{{item.RUC}}</td>
            <td>{{item.CLIENTE}}</td>
            <td>{{item.MN}}</td>
            <td>{{item.MONTO}}</td>
            <td>{{item.TDR}}</td>
            <td>{{item.SDR}}-{{item.NDR}}</td>
            <td>{{item.CONCEPTO}}</td>
          </tr>
        </tbody>
      </table>  
</div>