<div class="main">
  <h1>Ventas por Cliente</h1>
  <hr>
  <form [formGroup]="forma" role="form">
    <div class="row">
      <div class="col-3">
        <label for="cmbcliente">Cliente</label>
        <select formControlName="cmbcliente" class="form-control form-control-sm" id="cmbcliente">
          <option *ngFor="let item of eClientes" [value]="item.ID_CUSTOMER">{{item.DESCRIPTION_CUSTOMER}}</option>
        </select>
      </div>

      <div class="col-2">
        <label for="txtfec1" class="control-label">Emision</label>
        <input formControlName="txtfec1" size="20" type="date" id="txtfec1" class="form-control form-control-sm">
      </div>

      <div class="col-2">
        <label for="txtfec2" class="control-label">Emision</label>
        <input formControlName="txtfec2" size="20" type="date" id="txtfec2" class="form-control form-control-sm">
      </div>

      <div class="col-4">
        <button (click)="CargarReporte()" type="button" class="btn btn-outline-warning no-print btn-sm">Ver Reporte</button>
        <button (click)="imprimir()" type="button" class="btn btn-outline-warning no-print btn-sm">
          <i class="fas fa-print"></i>Imprimir</button>
      </div>
    </div>
  </form>
  <hr>

  <table class="table table-sm">
    <thead class="thead-light">
      <tr>
        <th>CLIENTE</th>
        <th>FECHA</th>
        <th>TIPDOC</th>
        <th>SERDOC</th>
        <th>NUMDOC</th>
        <th>VALOR.VTA</th>
        <th>IMPUESTO</th>
        <th>TOTAL</th>
        <th>TC</th>
      </tr>
    </thead>
    <tbody>

      <tr *ngFor="let item of eListado">
        <td>{{item.CLIENTE}}</td>
        <td>{{item.FECHA}}</td>
        <td>{{item.TIPDOC}}</td>
        <td>{{item.SERDOC}}</td>
        <td>{{item.NUMDOC}}</td>
        <td>{{item.VALORVTA}}</td>
        <td>{{item.IMPUESTO}}</td>
        <td>{{item.TOTAL}}</td>
        <td>{{item.TC}}</td>
      </tr>

    </tbody>
  </table>


</div>