<ul class="nav">
  <li>
    <a routerLink="home">Home<span class="flecha">&#9660;</span></a>
  </li>
  <li>
    <a routerLink="maestros">Maestros<span class="flecha">&#9660;</span></a>
  </li>

  <li>
    <a href="#">Almacen<span class="flecha">&#9660;</span></a>
    <ul>
      <li><a href="#">Procesos<span class="flecha">&#9660;</span></a>
        <ul>
          <li><a routerLink="docalmacen">Ingreso a Almacen<span class="flecha">&#9660;</span></a></li>
          <li><a href="#">Ingreso a xxxxx<span class="flecha">&#9660;</span></a></li>
        </ul>
      </li>
      <li><a href="#">Reportes<span class="flecha">&#9660;</span></a>
        <ul>
          <li><a href="#">Kardex de Inventario<span class="flecha">&#9660;</span></a></li>
          <li><a href="#">Stock de Articulos<span class="flecha">&#9660;</span></a></li>
          <li><a href="#">Stock por Almacen<span class="flecha">&#9660;</span></a></li>
          <li><a href="#">Movimiento por Transacciones<span class="flecha">&#9660;</span></a></li>
        </ul>
      </li>
    </ul>
  </li>
  <li>
    <a href="#">Ventas<span class="flecha">&#9660;</span></a>
    <ul>
      <li><a href="#">Procesos<span class="flecha">&#9660;</span></a>
      <ul>
          <li><a routerLink="pedidos">Pedidos de Venta<span class="flecha">&#9660;</span></a></li>
          <li><a routerLink="comprobantes">Comprobantes de Venta<span class="flecha">&#9660;</span></a></li>
      </ul>
      </li>

      <li><a href="#">Reportes<span class="flecha">&#9660;</span></a>
        <ul>
          <li><a href="#">Ventas por Cliente<span class="flecha">&#9660;</span></a></li>
          <li><a href="#">Ventas por Vendedor<span class="flecha">&#9660;</span></a></li>
          <li><a href="#">Ventas por Articulo<span class="flecha">&#9660;</span></a></li>
          <li><a href="#">Ventas por Registro de Ventas<span class="flecha">&#9660;</span></a></li>
        </ul>
      </li>

    </ul>
  </li>
  <li>
      <a href="#">Caja<span class="flecha">&#9660;</span></a>
      <ul>
          <li><a routerLink="planillacoblista">Planilla de Cobranzas<span class="flecha">&#9660;</span></a></li>
          <li><a href="#">Reportes<span class="flecha">&#9660;</span></a></li>
      </ul>
  </li>

</ul>
<!-- 
  <li>
    <a href="#">Marketing<span class="flecha">&#9660;</span></a>
    <ul>
      <li><a href="#">Submenu 1<span class="flecha">&#9660;</span></a></li>
      <li><a href="#">Submenu 2<span class="flecha">&#9660;</span></a></li>
      <li>
        <a href="#">Submenu 3<span class="flecha">&#9660;</span></a>
        <ul>
          <li><a href="#">Submenu 1<span class="flecha">&#9660;</span></a></li>
          <li><a href="#">Submenu 2<span class="flecha">&#9660;</span></a></li>
          <li><a href="#">Submenu 3<span class="flecha">&#9660;</span></a></li>
          <li><a href="#">Submenu 4<span class="flecha">&#9660;</span></a></li>
        </ul>
      </li>
    </ul>
  </li>
  <li><a href="#">SEO<span class="flecha">&#9660;</span></a></li>
</ul>
</li>
<li>
  <a href="#">Acerca<span class="flecha">&#9660;</span></a>
  <ul>
    <li><a href="#">Historia<span class="flecha">&#9660;</span></a></li>
    <li><a href="#">Mision<span class="flecha">&#9660;</span></a></li>
    <li><a href="#">Vision<span class="flecha">&#9660;</span></a></li>
  </ul>
</li>
<li>
  <a href="#">Contacto<span class="flecha">&#9660;</span></a>
</li>


</ul> -->