<div class="card-columns">



  <div class="card animated fadeIn fast">

    <img class="card-img-top" src="../../../assets/img/home.jpg">
    <div class="card-body">
      <h5 class="card-title">AndesTec</h5>
      <p class="card-text">Único 100% Online, la herramienta que tu Empresa necesita.
        <br> Una completa Solución para pequeñas y medianas empresas</p>
      <p class="card-text">
        <small class="text-muted">fechad e referecnia</small>
      </p>
      <button (click)="verHeroe(i)" type="button" class="btn btn-outline-primary btn-block">
        Ver mas..xx
      </button>

      <!-- <a [routerLink]="['/heroe',i]" class="btn btn-outline-primary">Ver mas</a> -->

    </div>
  </div>

  <div class="card animated fadeIn fast">

    <img class="card-img-top" src="../../../assets/img/laptop.png">
    <div class="card-body">
      <h5 class="card-title">Un sistema Amigable, simple y fácil de usar</h5>
      <p class="card-text">SmartNovaq es una solución con más de 15 años en el mercado, Líder en el Desarrollo de Soluciones ERP 100% Web en Latinoamérica.</p>
      <p class="card-text">
        <small class="text-muted">fechad e referecnia</small>
      </p>
      <button (click)="verHeroe(i)" type="button" class="btn btn-outline-primary btn-block">
        Ver mas..xx
      </button>

      <!-- <a [routerLink]="['/heroe',i]" class="btn btn-outline-primary">Ver mas</a> -->

    </div>
  </div>

  <div class="card animated fadeIn fast">

      <img class="card-img-top" src="../../../assets/img/ordenycontrol.jpg">
      <div class="card-body">
        <h5 class="card-title">Orden y control para su empresa</h5>
        <p class="card-text">Desarrollado bajo estrictos controles de calidad y con el uso eficiente de las mejores precticas de gestion empresarial.</p>
        <p class="card-text">
          <small class="text-muted">fechad e referecnia</small>
        </p>
        <button (click)="verHeroe(i)" type="button" class="btn btn-outline-primary btn-block">
          Ver mas..xx
        </button>
  
        <!-- <a [routerLink]="['/heroe',i]" class="btn btn-outline-primary">Ver mas</a> -->
  
      </div>
    </div>
</div>