<div class="main-container">
  <h1>Lista de Servicios</h1>
  <hr>

  <button [routerLink]="['/servicio','nuevo']" type="button" name="btn_nuevo" class="btn btn-outline-primary">Nuevo</button>
  <br>
  <br>

  <div class="row  animated fadeIn fast">
    <div class="col-md-12">
      <div class="table-responsive">

        <table class="table table-sm">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Codigo</th>
              <th scope="col">Descripcion</th>
              <th scope="col">Opciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let s of eServicio">
              <th>{{ s.ID_SERVICES }}</th>
              <td>{{ s.DESCRIPTION_SERVICES }}</td>
              <td>
                <button [routerLink]="['/servicio',s.ID_SERVICES]" type="button" class="btn btn-outline-success btn-sm">Editar</button>
                <button (click)="borrarServicio(s.ID_SERVICES)" type="button" class="btn btn-outline-danger btn-sm">Eliminar</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>