<div class="main-container">
  <app-msgerror *ngIf="bol_error" [error]="msj_error"></app-msgerror>
  <h4 class="card-title">Lista de Tipo de Venta</h4>
  <hr>

  <button [routerLink]="['/tipoventa','nuevo']" type="button" name="btn_nuevo" class="btn btn-outline-primary">
    <i class="fas fa-plus-circle"></i></button>
  <br>
  <br>

  <app-loading *ngIf="bol_cargando"></app-loading>
  <div class="row  animated fadeIn fast" *ngIf="!bol_cargando">
    <table class="table table-striped">
      <thead class="">
        <tr>
          <th scope="col">Codigo</th>
          <th scope="col">Descripcion</th>
          <th colspan="2">Opciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let s of eTipoventa">
          <td>{{ s.ST_ID }}</td>
          <td>{{ s.ST_DES }}</td>
          <td>
            <button [routerLink]="['/tipoventa',s.ST_ID]" type="button" class="btn btn-success btn-sm">
              <i class="fas fa-edit"></i></button>
          </td>
          <td>
            <button (click)="borrarProyecto(s.ST_ID)" type="button" class="btn btn-danger btn-sm">
              <i class="fas fa-trash-alt"></i></button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>