
<div *ngIf="bol_msj" class="alert alert-success alert-dismissible fade show" role="alert">
  Se registro Correctamente!.
</div>

<h3> Operaciones de Almacen </h3>
<div class="card">
  <div class="card-header">
    <div class="btn-group" role="group" aria-label="Basic example">
      <button [routerLink]="['/docalmacen']" type="button" class="btn btn-outline-secondary">
        <i class="fas fa-chevron-circle-left"></i>Regresar</button>
      <button (click)="nuevoDocument()" type="button" class="btn btn-outline-secondary">
        <i class="far fa-file"></i>Nuevo</button>
    </div>
    <span>&nbsp;</span>
    <div class="btn-group" role="group" aria-label="Basic example">
      <button (click)="grabarDocumento()" class="btn btn-outline-secondary">
        <i [ngClass]="{'fa-save':!cargando, 'fa-sync-alt fa-spin':cargando}" class="fas"></i>
        <span *ngIf="!cargando">Guardar</span>
        <span *ngIf="cargando">Espere por favor</span>
      </button>
      <button (click)="imprimir()" [disabled]="bol_cargando" type="button" class="btn btn-outline-secondary">
        <i class="fas fa-print"></i>Imprimir</button>
    </div>

  </div>
  <div class="card-body">
    <form [formGroup]="forma">

      <div class="form-group row">
        <label class="col-1 col-form-label">Tipo:</label>
        <div class="col-2">
          <select formControlName="f_cmb_tipomov" name="cmb_tipomov" class="form-control form-control-sm" (change)="cambioTipo($event.target.value)">
            <option *ngFor="let i of eTipoMov" [value]="i.TM_ID">{{i.TM_DES}}</option>
          </select>
        </div>

        <label class="col-1 col-form-label">Fecha</label>
        <div class="col-3">
          <input formControlName="f_txtFecha" class="form-control form-control-sm" type="date">
        </div>

        <label class="col-2 col-form-label">Transacciones</label>
        <div class="col-3">
          <select formControlName="f_cmbTransaccion" name="cmb_transacciones" class="form-control form-control-sm">
            <option *ngFor="let i of eTipoTrans" [value]="i.TT_CODIGO">{{i.TT_DESCRIPCION}}</option>
          </select>
        </div>

      </div>



      <hr>
      <div class="form-group row">
        <label class="col-2 col-form-label">Almacen</label>
        <div class="col-4">
          <select name="cmb_almacen" class="form-control form-control-sm" formControlName="f_cmbAlmacen" (change)="cambioAlmacen($event.target.value)">
            <option *ngFor="let a of eAlmacenes" [value]="a.ID_WAREHOUSE">{{ a.DESCRIPCION }}</option>
          </select>
        </div>
        <label class="col-2 col-form-label">Moneda</label>
        <div class="col-4">
          <select formControlName="f_cmbMoneda" name="cmb_Moneda" class="form-control form-control-sm">
            <option *ngFor="let m of eMonedas" [value]="m.MO_ID">{{m.MO_DES}}</option>
          </select>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-2 col-form-label">Doc. Referencia</label>
        <div class="col-2">
          <select formControlName="f_cmbDocRef" name="cmb_docref" class="form-control form-control-sm">
            <option *ngFor="let d of eDocumentos" [value]="d.ID_DOCUMENT">{{ d.DOCUMENT_DESCRIPTION}}</option>
          </select>
        </div>
        <div class="col-1">
          <input formControlName="f_txtserRef" class="form-control form-control-sm" type="text" placeholder="serie">
        </div>
        <div class="col-2">
          <input formControlName="f_txtNumRef" class="form-control form-control-sm" type="text" placeholder="numero">
        </div>
        <label class="col-2 col-form-label">Centro.Costo</label>
        <div class="col-2">
          <select formControlName="f_cmbcc" name="cmb_centrocosto" class="form-control form-control-sm">
            <option *ngFor="let d of eCentrocostos" [value]="d.ID_CENTER_COST">{{ d.DESCRIPTION_CENTER_COST}}</option>
          </select>
        </div>
      </div>
     
      <div class="form-group row">
        <div class="custom-control custom-radio custom-control-inline">
          <input formControlName="f_rbAnexo" value="p" type="radio" id="customRadioInline1" name="f_rbAnexo" class="custom-control-input">
          <label class="custom-control-label" for="customRadioInline1">Proveedor</label>
        </div>
        <div class="custom-control custom-radio custom-control-inline">
          <input formControlName="f_rbAnexo" value="c" type="radio" id="customRadioInline2" name="f_rbAnexo" class="custom-control-input">
          <label class="custom-control-label" for="customRadioInline2">Cliente</label>
        </div>
      </div>




      <div class="form-group row" *ngIf="forma.get('f_rbAnexo').value == 'p'">
        <label class="col-2 col-form-label">Proveedor</label>
        <div class="col-2">
          <div class="input-group input-group-sm mb-3">
            <input formControlName="f_txtProve" type="text" class="form-control" aria-describedby="button-addon2">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" type="button" id="button-addon2" data-toggle="modal" data-target=".bd-example-modal-lg">
                <i class="fas fa-search"></i>
              </button>
            </div>
          </div>
        </div>
        <div class="col-8">
          <input formControlName="f_txtProveDes" class="form-control form-control-sm" type="text" readonly>
        </div>
      </div>


      <div class="form-group row" *ngIf="forma.get('f_rbAnexo').value == 'c'">
        <label class="col-2 col-form-label">Cliente</label>
        <div class="col-2">
          <div class="input-group input-group-sm mb-3">
            <input formControlName="f_txtCli" type="text" class="form-control" aria-describedby="button-addon2">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" type="button" id="button-addon2" data-toggle="modal" data-target=".bd-example-modal-lg">
                <i class="fas fa-search"></i>
              </button>
            </div>
          </div>
        </div>
        <div class="col-8">
          <input formControlName="f_txtCliDes" class="form-control form-control-sm" type="text" readonly>
        </div>
      </div>




      <div class="form-group row">
        <label class="col-2 col-form-label">Comentarios</label>
        <div class="col-10">
          <input formControlName="f_txtObs" class="form-control form-control-sm" type="text" placeholder="glosa/datos adicionales">
        </div>
      </div>


    </form>
  </div>
</div>
<!-- <p>Form value: {{ forma.get('f_rbAnexo').value }}</p>
<p>Form value: {{ forma.value | json }}</p> -->




<!-- Modal -->
<div class="modal fade bd-example-modal-lg" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel" *ngIf="forma.get('f_rbAnexo').value == 'p'">
          Lista de Proveedores</h5>
        <h5 class="modal-title" id="exampleModalLabel" *ngIf="forma.get('f_rbAnexo').value == 'c'">
          Lista de Clientes</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <div class="form-group row">
          <div class="col-2">
            <label class="form-label">Filtrar</label>
          </div>
          <div class="col-8">

            <div class="input-group input-group-sm mb-3">
              <input type="text" #txtpatron class="form-control" aria-describedby="button-addon2">
              <div class="input-group-append">
                <button (click)="HelpBuscarProveedores(txtpatron)" class="btn btn-outline-secondary" type="button" *ngIf="forma.get('f_rbAnexo').value == 'p'">Ok</button>
                <button (click)="HelpBuscarClientes(txtpatron)" class="btn btn-outline-secondary" type="button" *ngIf="forma.get('f_rbAnexo').value == 'c'">Okcli</button>
              </div>
            </div>

          </div>
        </div>

        <div class="table-responsive-sm" *ngIf="forma.get('f_rbAnexo').value == 'p'">
          <table class="table table-sm">
            <thead>
              <tr>
                <th>#</th>
                <th>codigo</th>
                <th>Doc</th>
                <th>Descripcion</th>
                <th>Opcion</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let p of eProveedores, let i = index">
                <th>{{ i+1 }}</th>
                <td>{{ p.ID_PROVIDER }}</td>
                <td>{{ p.NUMBER_DOCUMENT }}</td>
                <td>{{ p.DESCRIPTION_PROVIDER }}</td>
                <td>
                  <button (click)="HelpCargarProveedor(p.ID_PROVIDER)" data-dismiss="modal" type="button" class="btn btn-outline-success">Sel</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="table-responsive-sm" *ngIf="forma.get('f_rbAnexo').value == 'c'">
          <table class="table table-sm">
            <thead>
              <tr>
                <th>#</th>
                <th>codigo</th>
                <th>Doc</th>
                <th>Descripcion</th>
                <th>Opcion</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let p of eClientes, let i = index">
                <th>{{ i+1 }}</th>
                <td>{{ p.ID_CUSTOMER }}</td>
                <td>{{ p.NUMBER_DOCUMENT }}</td>
                <td>{{ p.DESCRIPTION_CUSTOMER }}</td>
                <td>
                  <button (click)="HelpCargarCliente(p.ID_CUSTOMER)" data-dismiss="modal" type="button" class="btn btn-outline-success">Sel</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary">Aceptar</button>
      </div>
    </div>
  </div>
</div>