<div class="card">
  <div class="card-header">
    <button *ngIf="!bol_nuevod" (click)="bol_nuevod=!bol_nuevod" type="button" name="btn_nuevo" class="btn btn-primary btn-sm">
      <i class="fas fa-plus-square"></i>
      Agregar Detalle</button>
    <button *ngIf="bol_nuevod" (click)="bol_nuevod=!bol_nuevod" type="button" name="btn_cancelar" class="btn btn-danger btn-sm">
      <i class="fas fa-ban"></i>
      Cancelar</button>

  </div>
  <div class="card-body">
    <table class="table table-striped" *ngIf="!bol_nuevod">
      <thead class="">
        <tr>
          <th scope="col">Item</th>
          <th scope="col">Codigo</th>
          <th scope="col">Articulo</th>
          <th scope="col">Unidad</th>
          <th scope="col">Lote</th>
          <th scope="col">Cantidad</th>
          <th scope="col">Costos</th>
          <th scope="col">Opciones</th>
        </tr>
      </thead>
      <tbody>

        <tr *ngFor="let d of eDetallesIA">
          <td>{{d.item}}</td>
          <td>{{d.codigo}}</td>
          <td>{{d.articulo}}</td>
          <td>{{d.unidad}}</td>
          <td>{{d.lote}}</td>
          <td>{{d.cantidad}}</td>
          <td>{{d.costo}}</td>
          <td>
            <!-- <button type="button" class="btn btn-info btn-sm">
              <i class="fas fa-edit"></i></button> -->
            <button (click)="eliminarItem(d.item)" type="button" class="btn btn-danger btn-sm">
              <i class="fas fa-trash-alt"></i></button>
          </td>
        </tr>
      </tbody>
    </table>

    <app-transaccionreg (estadoboton)="bol_nuevod = $event" *ngIf="bol_nuevod"></app-transaccionreg>

  </div>
</div>