<div class="card">
  <div class="card-header">

  </div>

  <div class="card-body">
    <form [formGroup]="frmDet">
      <div class="form-group row">
        <label class="col-2 col-form-label">Articulo</label>
        <div class="col-2">
          <div class="input-group input-group-sm mb-3">
            <input type="text" class="form-control form-control-sm" aria-describedby="button-addon2" formControlName="f_txtCodArti">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary btn-sm" type="button" id="button-addon2" data-toggle="modal"
                data-target=".bd-detalle-modal-lg">
                <i class="fas fa-search"></i>
              </button>
            </div>
          </div>
        </div>

        <div class="col-8">
          <input class="form-control form-control-sm" type="text" formControlName="f_txtDesArti" readonly>
        </div>
      </div>

      <div class="form-group row">

        <div class="form-inline">
          <label class="col-form-label">Unid.Med</label>
          <input size="5" class="form-control form-control-sm" type="text" formControlName="f_txtUniMed">
          <span>&nbsp;</span>
          <label class="col-form-label">Stock Total</label>
          <input size="5" class="form-control form-control-sm" type="text" formControlName="f_txtStock">
          <span>&nbsp;</span>
          <label class="col-form-label">Costo</label>
          <input size="8" id='f_txtCostoUnit' class="form-control form-control-sm " type="text" formControlName="f_txtCostoUnit">
          <span>&nbsp;</span>
          <label class="col-form-label">Cantidad</label>
          <input size="5" class="form-control form-control-sm" type="text" formControlName="f_txtCanDet">
        </div>

      </div>

      <hr>

      <div class="form-group row">
        <label class="col-1 col-form-label">Lote</label>
        <div class="col-3">

          <div class="input-group">
            <select (change)="cambioLote($event.target.value)" class="custom-select" id="inputGroupSelect04"
              formControlName="f_cmbLote">
              <option *ngFor="let a of eLotes" [value]="a.IDLOT">{{a.IDLOT}}</option>
            </select>

            <div class="input-group-append">
              <button class="btn btn-outline-secondary btn-sm" type="button">+</button>
            </div>
          </div>
        </div>

        <label class="col-2 col-form-label">Stock.Lote</label>
        <div class="col-1">
          <input class="form-control form-control-sm" type="text" formControlName="f_txtStockLote">
        </div>
        <label class="col-2 col-form-label">Fecha Vencmto</label>
        <div class="col-3">
          <input class="form-control form-control-sm" type="date" formControlName="f_txtfecVcto">
        </div>
      </div>
      <hr>
      <div class="form-group row">
        <label class="col-2 col-form-label">Glosa</label>
        <input class="col-8 form-control form-control-sm" type="text" formControlName="f_txtGlosaDet">
        <button [disabled]="!this.frmDet.valid" (click)="InsertDetalle()" type="button" name="btn_agregar" class="btn btn-info btn-sm">
          <i class="fas fa-check-circle"></i>
          Agregar</button>
      </div>

    </form>

  </div>

</div>





<!-- Modal -->
<div class="modal fade bd-detalle-modal-lg" id="detalleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Lista de Articulos</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <div class="form-group row">
          <div class="col-2">
            <label class="form-label">Filtrar</label>
          </div>
          <div class="col-8">
            <div class="input-group input-group-sm mb-3">
              <input type="text" #txtpatronA (keyup.enter)="HelpBuscarArticulos(txtpatronA)" class="form-control form-control-sm"
                aria-describedby="button-addon2" placeholder="nombre de articulo">
              <div class="input-group-append">
                <button (click)="HelpBuscarArticulos(txtpatronA)" class="btn btn-outline-secondary btn-sm" type="button">Ok</button>
              </div>
            </div>
          </div>
        </div>

        <div class="table-responsive-sm">
          <table class="table table-sm">
            <thead>
              <tr>
                <th>codigo</th>
                <th>Descripcion</th>
                <th>Unidad</th>
                <th>Stock</th>
                <th>Opcion</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let a of eArticulos, let i = index">
                <td>{{ a.ID_ARTICLE }}</td>
                <td>{{ a.DESCRIPTION_ARTICLE }}</td>
                <td>{{ a.ID_UNIT }}</td>
                <td>{{ a.SKU_ARTICLE }}</td>
                <td>
                  <button (click)="HelpCargarArticulo(a.ID_ARTICLE)" data-dismiss="modal" type="button" class="btn btn-outline-success btn-sm">Sel</button>
                  <!-- <button (click)="HelpCargarProveedor(a.ID_ARTICLE)" data-dismiss="modal" type="button" class="btn btn-outline-success">Sel</button> -->
                </td>
              </tr>
            </tbody>
          </table>
        </div>




      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary">Aceptar</button>
      </div>
    </div>
  </div>
</div>