<div *ngIf="bol_msj" class="alert alert-success alert-dismissible fade show" role="alert">
  Se registro los datos correctamente!!.
</div>
<h4 class="card-title">Registro de Punto de Venta</h4>
<hr>

<form [formGroup]="forma" (ngSubmit)="guardarCambios()">

  <div class="row">
    <div class="col-md-6">
      <div class="form-group row">
        <label class="col-sm-3 col-form-label">Codigo</label>
        <div class="col-sm-9">
          <input class="form-control form-control-sm" type="text" placeholder="Codigo" formControlName="SP_ID">
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group row">
        <label class="col-sm-3 col-form-label">Descripcion</label>
        <div class="col-sm-9">
          <input class="form-control form-control-sm" type="text" placeholder="Descripcion" formControlName="SP_DES">
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="form-group row">
        <label class="col-sm-3 col-form-label">Direccion</label>
        <div class="col-sm-9">
          <input class="form-control form-control-sm" type="text" placeholder="Direccion" formControlName="SP_ADD">
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group row">
        <label class="col-sm-3 col-form-label">Telefono</label>
        <div class="col-sm-9">
          <input class="form-control form-control-sm" type="text" placeholder="Telefono" formControlName="SP_PHONE">
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="form-group row">
        <label class="col-sm-3 col-form-label">Comentarios</label>
        <div class="col-sm-9">
          <input class="form-control form-control-sm" type="text" placeholder="Comentarios" formControlName="SP_COMMENT">
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group row">
        <label class="col-sm-3 col-form-label">Almacen</label>
        <div class="col-sm-9">
          <select formControlName="SP_IDWAREHOUSE" name="SP_IDWAREHOUSE" class="custom-select" id="SP_IDWAREHOUSE">
            <option *ngFor="let item of eAlmacen" [value]="item.ID_WAREHOUSE">{{item.DESCRIPCION}}</option>
          </select>
        </div>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-md-6">
      <div class="form-group row">
        <label class="col-sm-3 col-form-label">Estado</label>
        <div class="col-sm-9">
          <div class="custom-control custom-radio custom-control-inline">
            <input formControlName="SP_ISTATUS" value="A" type="radio" id="customRadioInline1" name="SP_ISTATUS" class="custom-control-input">
            <label class="custom-control-label" for="customRadioInline1">Activo</label>
          </div>
          <div class="custom-control custom-radio custom-control-inline">
            <input formControlName="SP_ISTATUS" value="I" type="radio" id="customRadioInline2" name="SP_ISTATUS" class="custom-control-input">
            <label class="custom-control-label" for="customRadioInline2">Inactivo</label>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group row">
        <label class="col-sm-3 col-form-label"></label>
        <div class="col-sm-9">

        </div>
      </div>
    </div>
  </div>



  <div class="form-group row">
    <label class="col-2 col-form-label">&nbsp;</label>
    <div class="input-group col-md-2">
      <button type="submit" class="btn btn-primary" [disabled]="cargando">
        <i [ngClass]="{'fa-save':!cargando, 'fa-sync-alt fa-spin':cargando}" class="fas"></i>
        <span *ngIf="!cargando">Guardar</span>
        <span *ngIf="cargando">Espere por favor</span>
      </button>
    </div>
    <div class="input-group col-md-6">
      <button [routerLink]="['/puntoventas']" class="btn btn-light mr-2">
        <i class="fas fa-backspace"></i>Regresar</button>
    </div>
  </div>

</form>

<div *ngIf="bol_msj" class="alert alert-success alert-dismissible fade show" role="alert">
  Se registro correctamente el punto de venta
</div>
<div *ngIf="bol_err" class="alert alert-danger alert-dismissible fade show" role="alert">
  Ocurrio un error!
</div>




<hr>
<h3>Documentos asignados a este Punto de Venta:</h3>
<hr>

<form [formGroup]="frmdet" (ngSubmit)="AgregarDocumento()">
  <div class="row">
    <div class="col-1">
      <label for="cmbmoneda">Doc.</label>
      <select formControlName="SS_ID_DOCUMENT" name="SS_ID_DOCUMENT" class="custom-select" id="cmbdocumentos">
        <option *ngFor="let item of eDocumento" [value]="item.ID_DOCUMENT">{{item.ABREVIATURE}}</option>
      </select>
    </div>

    <div class="col-1">
      <label for="">Serie</label>
      <input class="form-control form-control-sm" type="text" size="5" formControlName="SS_SERIE" name="SS_SERIE">
    </div>

    <div class="col-1">
      <label for="">Correla</label>
      <input class="form-control form-control-sm" type="text" size="5" formControlName="SS_INITCORRE" name="SS_INITCORRE">
    </div>
    <div class="col-3">
      <label for="">Formato Imp.</label>
      <input class="form-control form-control-sm" type="text" formControlName="SS_PRINTING_FORMAT" name="SS_PRINTING_FORMAT">
    </div>
    <div class="col-1" style="padding-top: 30px">
      <button type="submit" class="btn btn-outline-primary btn-sm">Agregar</button>
    </div>
    <div *ngIf="bol_errDoc" class="alert alert-danger alert-dismissible fade show" role="alert">
      Ocurrio un problema!
    </div>
    <div *ngIf="bol_msjDoc" class="alert alert-success alert-dismissible fade show" role="alert">
      Se agrego el documento al punto de venta!!
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="row  animated fadeIn fast">
      <div class="col-md-12">
        <div class="table-responsive">

          <table class="table table-sm">
            <thead class="thead-light">
              <tr>
                <th scope="col">Doc.</th>
                <th scope="col">Serie</th>
                <th scope="col">Correlativo</th>
                <th scope="col">Formato</th>
                <th scope="col">Estado</th>
                <th scope="col">Opciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let s of ePuntoSerie">
                <th>{{ s.SS_ID_DOCUMENT }}</th>
                <td>{{ s.SS_SERIE }}</td>
                <td>{{ s.SS_INITCORRE }}</td>
                <td>{{ s.SS_PRINTING_FORMAT }}</td>
                <td>{{ s.SS_ISTATUS }}</td>
                <td>
                  <button (click)="borrarDocdePtoVenta(s.SS_ID_DOCUMENT)" type="button" class="btn btn-danger btn-sm">
                    <i class="fas fa-trash-alt"></i></button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

</form>