<div class="main-container">
  <app-msgerror *ngIf="bol_error" [error]="msj_error"></app-msgerror>
  <h4 class="card-title">Lista de Punto de Venta</h4>
  <hr>

  <button [routerLink]="['/puntoventa','nuevo']" type="button" name="btn_nuevo" class="btn btn-outline-primary">
    <i class="fas fa-plus-circle"></i>Nuevo
  </button>

  <br>
  <br>

  <app-loading *ngIf="bol_cargando"></app-loading>
  <div class="row  animated fadeIn fast">
    <table class="table table-striped" *ngIf="!bol_cargando">
      <thead>
        <tr>
          <th scope="col">Codigo</th>
          <th scope="col">Descripcion</th>
          <th scope="col">Direccion</th>
          <th scope="col">Telefono</th>
          <th scope="col">Glosa</th>
          <th scope="col">Estado</th>
          <th colspan="2">Opciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let s of ePuntoVenta">
          <td>{{ s.SP_ID }}</td>
          <td>{{ s.SP_DES }}</td>
          <td>{{ s.SP_ADD }}</td>
          <td>{{ s.SP_PHONE }}</td>
          <td>{{ s.SP_COMMENT }}</td>
          <td>{{ s.SP_ISTATUS }}</td>
          <td>
            <button [routerLink]="['/puntoventa',s.SP_ID]" type="button" class="btn btn-success btn-sm">
              <i class="fas fa-edit"></i></button>
          </td>
          <td>
            <button (click)="borrarPuntoVenta(s.SP_ID)" type="button" class="btn btn-danger btn-sm">
              <i class="fas fa-trash-alt"></i></button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>