<div class="main-container">

  <app-msgerror *ngIf="bol_error" [error]="msj_error"></app-msgerror>

  <h4 class="card-title">Lista de Cobradores</h4>
  <hr>

  
  <div class="row animated fadeIn fast">
    <div class="col-md-12">
      <div class="form-group row">
        <div class="col-sm-2">
          <button [routerLink]="['/cobrador','nuevo']" type="button" name="btn_nuevo" class="btn btn-outline-primary">
            <i class="fas fa-plus-circle">Nuevo</i>
          </button>
        </div>
      </div>
    </div>
  </div>


  <app-loading *ngIf="bol_cargando"></app-loading>

  <div class="row  animated fadeIn fast" *ngIf="!bol_cargando">
    <table class="table table-striped">
      <thead class="">
        <tr>
          <th>Codigo</th>
          <th>Descripcion</th>
          <th>Documento</th>
          <th>Correo</th>
          <th>Movil</th>
          <th>Estado</th>
          <th colspan="2" style="text-align: center">Opciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cc of eCobrador">
          <td>{{ cc.CO_IDCOLLECTOR }}</td>
          <td>{{ cc.CO_DESCRIPTION }}</td>
          <td>{{ cc.CO_DOCUMENT }}</td>
          <td>{{ cc.CO_MAIL }}</td>
          <td>{{ cc.CO_MOVIL }}</td>
          <td>{{ cc.CO_ISTATUS }}</td>
          <td>
            <button [routerLink]="['/cobrador',cc.CO_IDCOLLECTOR]" type="button" class="btn btn-success btn-sm">
              <i class="fas fa-edit"></i>
            </button>
          </td>
          <td>
            <button (click)="borrarCobrador(cc.CO_IDCOLLECTOR)" type="button" class="btn btn-danger btn-sm">
              <i class="fas fa-trash-alt"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>


  </div>
</div>