<div class="main-container">
  <h4 class="card-title">Lista de Cobradores</h4>
  <hr>

  <button [routerLink]="['/cobrador','nuevo']" type="button" name="btn_nuevo" class="btn btn-outline-primary">
    <i class="fas fa-plus-circle"></i>
  </button>
  <br>

  <div class="row  animated fadeIn fast">
    <table class="table table-striped">
      <thead class="">
        <tr>
          <td>Codigo</td>
          <td>Descripcion</td>
          <td>Documento</td>
          <td>Correo</td>
          <td>Movil</td>
          <td>Estado</td>
          <td>Opciones</td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cc of eCobrador">
          <td>{{ cc.CO_IDCOLLECTOR }}</td>
          <td>{{ cc.CO_DESCRIPTION }}</td>
          <td>{{ cc.CO_DOCUMENT }}</td>
          <td>{{ cc.CO_MAIL }}</td>
          <td>{{ cc.CO_MOVIL }}</td>
          <td>{{ cc.CO_ISTATUS }}</td>
          <td>
            <button [routerLink]="['/cobrador',cc.CO_IDCOLLECTOR]" type="button" class="btn btn-success btn-sm">
              <i class="fas fa-edit"></i>
            </button>

            <button (click)="borrarCobrador(cc.CO_IDCOLLECTOR)" type="button" class="btn btn-danger btn-sm">
              <i class="fas fa-trash-alt"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>


  </div>
</div>