<div class="main-container">
  <app-msgerror *ngIf="bol_error" [error]="msj_error"></app-msgerror>

  <h4 class="card-title">Lista de SubFamilias</h4>
  <hr>

  <div class="form-group row">
    <button [routerLink]="['/familiasub','nuevo']" type="button" name="btn_nuevo" class="btn btn-outline-primary">
      <i class="fas fa-plus-circle"></i>Nuevo</button>
  </div>

  <app-loading *ngIf="bol_cargando"></app-loading>
  <div class="row  animated fadeIn fast" *ngIf="!bol_cargando">
    <table class="table table-striped">
      <thead class="">
        <tr>
          <th>Codigo</th>
          <!-- <th>Familia</th> -->
          <th>Familia - SubFamilia</th>
          <th colspan="2" style="text-align: center">Opciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let fs of eFamiliaSub">
          <td>{{ fs.ID_FAMILY_SUB }}</td>
          <!-- <td>{{ fs.ID_FAMILY }}</td> -->
          <td>{{ fs.DESCRIPTION_FAMILY_SUB }}</td>
          <td style="text-align: center">
            <button [routerLink]="['/familiasub',fs.ID_FAMILY_SUB]" type="button" class="btn btn-success btn-sm">
              <i class="fas fa-edit"></i></button>
          </td>
          <td>
            <button (click)="borrarSubFamilia(fs.ID_FAMILY_SUB)" type="button" class="btn btn-danger btn-sm">
              <i class="fas fa-trash-alt"></i></button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>