<div class="main-container">
        <h1>Lista de Centro de Costos</h1>
        <hr>
        <!-- (click)="agregarNuevo(forma)"  -->
        <button [routerLink]="['/centrocosto','nuevo']" 
        type="button" 
        name="btn_nuevo" 
        class="btn btn-outline-primary">Nuevo</button>
        <br>
        <br>
      
      
        <div class="row  animated fadeIn fast">
          <div class="col-md-12">
            <div class="table-responsive">
      
              <table class="table table-sm">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">Codigo</th>
                    <th scope="col">Descripcion</th>                    
                    <th scope="col">Opciones</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let cc of eCentroCosto">
                    <th scope="row">{{ cc.ID_CENTER_COST }}</th>
                    <td>{{ cc.DESCRIPTION_CENTER_COST }}</td>                    
                    <td>
                      <button [routerLink]="['/centrocosto',cc.ID_CENTER_COST]"
                      type="button" class="btn btn-outline-success btn-sm">Editar</button>
      
                      <button (click)="borrarCentrocosto(cc.ID_CENTER_COST)"
                      type="button" class="btn btn-outline-danger btn-sm"
                      >Eliminar</button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>