<h1>Reporte de Stock</h1>
<hr>

<form [formGroup]="forma">
  <div class="form-group row">
    <label class="col-1 col-form-label">Almacen:</label>
    <div class="col-6">
      <select formControlName="f_cmbAlmacen" name="cmb_transacciones" class="custom-select">
        <option *ngFor="let a of eAlmacenes" [value]="a.ID_WAREHOUSE">{{ a.ID_WAREHOUSE }} - {{ a.DESCRIPCION }}</option>
      </select>
    </div>

    <div class="col-2">
      <button (click)="CargarData()" class="btn btn-warning btn-sm btn-block" type="button">Ver Reporte</button>
    </div>
    <div class="col-2">
      <button (click)="ImprimirData()" class="btn btn-warning btn-sm btn-block"><i class="fas fa-print"></i> Imprimir</button>
    </div>
  </div>

  <!-- <div class="form-group row">
      <label class="col-1 col-form-label">Buscar:</label>
      <div class="col-4">
        <div class="input-group input-group-sm mb-3">
          <input formControlName="f_txtTextoBuscar" type="text" class="form-control form-control-sm" aria-describedby="button-addon2" placeholder="nombre de articulo">
          <div class="input-group-append">
            <button (click)="CargarData()" class="btn btn-info" type="button">
                <i class="fab fa-searchengin"></i>  buscar
            </button>
          </div>
        </div>
      </div>
      <label class="col-1 col-form-label">[.....]</label>
    </div> -->

  <hr>

  <app-loading *ngIf="bol_cargando"></app-loading>
  <table class="table table-striped">
    <caption>Detalle de Articulos</caption>
    <thead class="">
      <tr>
        <th scope="col">Sel.</th>
        <th scope="col">Codigo</th>
        <th scope="col">Articulo</th>
        <th scope="col">Presentacion</th>
        <th scope="col">Unidad</th>
        <th scope="col">Stock</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let a of eListado02">
        <td><button (click)="VerDetStock(a.CODIGO)">
            <i class="fas fa-list"></i>
          </button></td>
        <td>{{a.CODIGO}}</td>
        <td>{{a.DESCRIPCION}}</td>
        <td>{{a.MODELO}}</td>
        <td>{{a.UND}}</td>
        <td>{{a.STOCK}}</td>
      </tr>
    </tbody>
  </table>


  <table class="table table-striped">
    <caption>Detalle de Stock Libre</caption>
    <thead class="">
      <tr>
        <th scope="col">Almacen</th>
        <th scope="col">Codigo</th>
        <th scope="col">Lote</th>
        <th scope="col">Cantidad</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let a of eListado03">
        <td>{{a.ALMACEN}}</td>
        <td>{{a.ARTICULO}}</td>
        <td>{{a.LOTE}}</td>
        <td>{{a.CANTIDAD}}</td>
      </tr>
    </tbody>
  </table>

</form>