<h4>Tipo Transacciones <small>Registro</small></h4>
<hr>
<form [formGroup]="forma" (ngSubmit)="guardarCambios()" >
    <!-- novalidate="novalidate" -->
  <div>

    <div class="form-group row" [ngClass]="{'has-danger': !forma.get('f_TT_CODIGO').valid }">
      <label class="col-2 col-form-label">Codigo</label>
      <div class="col-8">
        <input class="form-control" type="text" placeholder="Codigo"
        formControlName="f_TT_CODIGO">
        
        <div *ngIf="forma.controls['f_TT_CODIGO'].errors?.required"   
        class="form-control-feedback"> 
          el codigo es necesario
        </div>          
      </div>
    </div>

    <div class="form-group row">
      <label class="col-2 col-form-label">Descripcion</label>
      <div class="col-8">
        <input class="form-control" type="text" placeholder="Descripcion"
        formControlName="f_TT_DESCRIPCION">
      </div>
    </div>

    <div class="form-group row">
      <label class="col-2 col-form-label">Tipo Movimiento</label>
      <div class="col-8">        
          <div class="custom-control custom-radio custom-control-inline">
            <input formControlName="f_TT_INGSAL" value="I" type="radio" id="customRadioInline1" name="f_TT_INGSAL" class="custom-control-input">
            <label class="custom-control-label" for="customRadioInline1">Ingreso</label>
          </div>
          <div class="custom-control custom-radio custom-control-inline">
            <input formControlName="f_TT_INGSAL" value="S" type="radio" id="customRadioInline2" name="f_TT_INGSAL" class="custom-control-input">
            <label class="custom-control-label" for="customRadioInline2">Salida</label>
          </div>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-2 col-form-label">Costo</label>
      <div class="col-8">
        <div class="custom-control custom-radio custom-control-inline">
          <input formControlName="f_TT_COST" value="1" type="radio" id="customRadioInline3" name="f_TT_COST" class="custom-control-input">
          <label class="custom-control-label" for="customRadioInline3">Aplica</label>
        </div>
        <div class="custom-control custom-radio custom-control-inline">
          <input formControlName="f_TT_COST" value="0" type="radio" id="customRadioInline4" name="f_TT_COST" class="custom-control-input">
          <label class="custom-control-label" for="customRadioInline4">No Aplica</label>
        </div>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-2 col-form-label">Tipo Persona</label>
      <div class="col-8">
        <div class="custom-control custom-radio custom-control-inline">
          <input formControlName="f_TT_TYPE" value="P" type="radio" id="customRadioInline5" name="f_TT_TYPE" class="custom-control-input">
          <label class="custom-control-label" for="customRadioInline5">Proveedor</label>
        </div>
        <div class="custom-control custom-radio custom-control-inline">
          <input formControlName="f_TT_TYPE" value="C" type="radio" id="customRadioInline6" name="f_TT_TYPE" class="custom-control-input">
          <label class="custom-control-label" for="customRadioInline6">Cliente</label>
        </div>
        <div class="custom-control custom-radio custom-control-inline">
          <input formControlName="f_TT_TYPE" value="N" type="radio" id="customRadioInline7" name="f_TT_TYPE" class="custom-control-input">
          <label class="custom-control-label" for="customRadioInline7">No Aplica</label>
        </div>
      </div>
    </div>

  </div>


  <div class="form-group row">
    <label class="col-2 col-form-label">&nbsp;</label>
    <div class="input-group col-md-2">
      <button type="submit" class="btn btn-outline-primary" [disabled]="cargando">
          <i [ngClass]="{'fa-save':!cargando, 'fa-sync-alt fa-spin':cargando}"
          class="fas"></i>
          <span *ngIf="!cargando">Guardar</span>
          <span *ngIf="cargando">Espere por favor</span>
      </button>
    </div>
    <div class="input-group col-md-6">
        <button [routerLink]="['/tipotransacciones']" 
        class="btn btn-outline-danger">
        <i class="fas fa-backspace"></i>Regresar</button>
    </div>
  </div>
  {{forma.valid}}

</form>