<div class="main-container">
  <h4 class="card-title">Lista de Tipo de Transacciones</h4>
  <hr>

  <button [routerLink]="['/tipotransaccion','nuevo']" type="button" name="btn_nuevo" class="btn btn-outline-primary">
    <i class="fas fa-plus-circle"></i>
  </button>
  <br>
  <br>

  <div class="row  animated fadeIn fast">
    <table class="table table-striped">
      <thead class="">
        <tr>
          <th scope="col">Codigo</th>
          <th scope="col">Descripcion</th>
          <th scope="col">Ing/Sal</th>
          <th scope="col">Costo</th>
          <th scope="col">Cli/Prov</th>
          <th scope="col">Opciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let u of eTipoT">
          <td>{{ u.TT_CODIGO }}</td>
          <td>{{ u.TT_DESCRIPCION }}</td>
          <td>{{ u.TT_INGSAL }}</td>
          <td *ngIf='u.TT_COST == 1'>SI</td>
          <td *ngIf='u.TT_COST == 0'>NO</td>
          <td>{{ u.TT_TYPE }}</td>
          <td>
            <button [routerLink]="['/tipotransaccion',u.TT_CODIGO]" type="button" class="btn btn-success btn-sm">
              <i class="fas fa-edit"></i>
            </button>
            <button (click)="borrartipot(u.TT_CODIGO)" type="button" class="btn btn-danger btn-sm">
              <i class="fas fa-trash-alt"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>