<div class="main-container">
  <h4 class="card-title">Lista de Unidades de Medida</h4>
  <hr>

  <button [routerLink]="['/unidad','nuevo']" type="button" name="btn_nuevo" class="btn btn-outline-primary">
    <i class="fas fa-plus-circle"></i></button>
  <br>
  <br>

  <div class="row  animated fadeIn fast">
    <table class="table table-striped">
      <thead class="">
        <tr>
          <th>Codigo</th>
          <th>Descripcion</th>
          <th>Codigo Sunat</th>
          <th colspan="2">Opciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let u of eUnidades">
          <td>{{ u.ID_UNIT }}</td>
          <td>{{ u.DESCRIPTION_UNIT }}</td>
          <td>{{ u.COD_SUNAT }}</td>
          <td>
            <button [routerLink]="['/unidad',u.ID_UNIT]" type="button" class="btn btn-success btn-sm">
              <i class="fas fa-edit"></i></button>
          </td>
          <td>
            <button (click)="borrarUnidad(u.ID_UNIT)" type="button" class="btn btn-danger btn-sm">
              <i class="fas fa-trash-alt"></i></button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>