<div class="main-container">
  <h4 class="card-title">Lista de Bancos</h4>
  <hr>

  <button [routerLink]="['/banco','nuevo']" type="button" name="btn_nuevo" class="btn btn-outline-primary">
    <i class="fas fa-plus-circle"></i>
  </button>
  <br>
  <br>

  <div class="row  animated fadeIn fast">
    <table class="table table-striped">
      <thead class="">
        <tr>
          <td>Codigo</td>
          <td>Opciones</td>
          <td>Estado</td>
          <td>Descripcion</td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cc of eBanco">
          <td>{{ cc.BA_IDBANK }}</td>
          <td>{{ cc.BA_DESCRIPTIONS }}</td>
          <td>{{ cc.BA_ISTATUS }}</td>

          <td>
            <button [routerLink]="['/banco',cc.BA_IDBANK]" type="button" class="btn btn-success btn-sm">
              <i class="fas fa-edit"></i>
            </button>

            <button (click)="borrarBanco(cc.BA_IDBANK)" type="button" class="btn btn-danger btn-sm">
              <i class="fas fa-trash-alt"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>

  </div>
</div>