<app-msgsuccess *ngIf="bol_msj" [textoOk]="msj_ok"></app-msgsuccess>
<app-msgerror *ngIf="bol_msjError" [error]="msjError"></app-msgerror>

<div class="main">
  <div class="form-group row">

    <div class="col-3">
      <h5>
        Orden de Pedido
      </h5>
    </div>
    <div class="col-3">
      Punto de Venta : {{ptoVta}}
    </div>
    <div class="col-3">
      Almacen : {{IdAlmacen}}
    </div>
  </div>


  <hr>

  <div class="row col-md-12">
    <div class="col-2" style="background-color: white">
      <button [routerLink]="['/pedidos']" type="button" class="btn btn-danger btn-sm btn-block">
        <i class="fas fa-chevron-circle-left"></i>Regresar</button>
    </div>
    <div class="col-2" style="background-color: white">
      <button (click)="nuevoDocument()" type="button" class="btn btn-info btn-sm btn-block">
        <i class="far fa-file"></i>Nuevo</button>
    </div>
    <div class="col-2" style="background-color: white">
      <button (click)="grabarDocumento()" class="btn btn-success btn-sm btn-block">
        <i [ngClass]="{'fa-save':!cargando, 'fa-sync-alt fa-spin':cargando}" class="fas"></i>
        <span *ngIf="!cargando">Guardar</span>
        <span *ngIf="cargando">Espere por favor</span>
      </button>
    </div>
    <div class="col-2" style="background-color: white">
      <button (click)="imprimir()" [disabled]="bol_cargando" type="button" class="btn btn-warning btn-sm btn-block">
        <i class="fas fa-print"></i>Imprimir</button>
    </div>
  </div>





  <hr>

  <form [formGroup]="forma" role="form">
    <div class="form-group row">

      <div class="col-sm-2">
        <label for="txtfecemi" class="form-label">Emision</label>
        <input formControlName="OC_DATEORDER" size="20" type="date" id="txtfecemi" class="form-control form-control-sm">
      </div>

      <div class="col-2">
        <label for="txtfecent">Entrega</label>
        <input formControlName="OC_DELIVERDATE" type="date" id="txtfecent" class="form-control form-control-sm">
      </div>

      <div class="col-2">
        <label for="cmbmoneda">Moneda</label>
        <select formControlName="OC_IDCURRENCY" class="custom-select" id="cmbmoneda">
          <option *ngFor="let item of eMonedas" [value]="item.MO_ID">{{item.MO_DES}}</option>
        </select>
      </div>

      <div class="col-2">
        <label for="cmbvendedor">Vendedor</label>
        <select [ngClass]="{'is-invalid': this.forma.get('OC_IDSELLER').invalid,
                    'is-valid': this.forma.get('OC_IDSELLER').valid}"
          formControlName="OC_IDSELLER" class="custom-select" id="cmbvendedor">
          <option *ngFor="let item of eVendedores" [value]="item.SE_ID">{{item.SE_DESCRIPCION}}</option>
        </select>
      </div>

      <div [ngClass]="{'has-danger': this.forma.get('OC_SERIE').invalid,
                    'has-success': this.forma.get('OC_SERIE').valid}"
        class="col-3">
        <label for="OC_SERIE">Orden Nº</label>
        <div class="form-inline">
          <select [ngClass]="{'is-invalid': this.forma.get('OC_SERIE').invalid,
                    'is-valid': this.forma.get('OC_SERIE').valid}"
            formControlName="OC_SERIE" class="custom-select" id="OC_SERIE" (change)="getCorrelativo($event.target.value)">
            <option *ngFor="let item of eSerieNumeros" [value]="item.SS_SERIE">{{item.SS_SERIE}}</option>
          </select>
          <input [ngClass]="{'is-invalid': this.forma.get('OC_CORRE').invalid,
                    'is-valid': this.forma.get('OC_CORRE').valid}"
            size="10" type="text" class="form-control form-control-sm" formControlName="OC_CORRE" id="OC_CORRE">
        </div>
      </div>

    </div>

    <p></p>

    <div [ngClass]="{'has-danger': this.forma.get('OC_IDCUSTOMER').invalid,
                    'has-success': this.forma.get('OC_IDCUSTOMER').valid}"
      class="form-group row">
      <div class="col-12">
        <div class="form-inline">
          <label for="txtidcliente" class="col-1">Cliente:</label>
          <div class="input-group input-group-sm">
            <input [ngClass]="{'is-invalid': this.forma.get('OC_IDCUSTOMER').invalid,
                    'is-valid': this.forma.get('OC_IDCUSTOMER').valid}"
              formControlName="OC_IDCUSTOMER" size="5" type="text" id="txtidcliente" class="form-control form-control-sm"
              required>

            <button class="btn btn-secondary btn-sm" type="button" id="button-addon2" data-toggle="modal" data-target=".bd-example-modal-lg">
              <i class="fas fa-user"></i>
            </button>
          </div>

          <input [ngClass]="{'is-invalid': this.forma.get('OC_CODCUSTOMER').invalid,
                    'is-valid': this.forma.get('OC_CODCUSTOMER').valid}"
            formControlName="OC_CODCUSTOMER" size="20" type="text" id="txtdoccliente" class="form-control form-control-sm"
            placeholder="Dni / Ruc" #txtrucdni (keyup.enter)="buscarClintexDocumento(txtrucdni.value)">
          <input [ngClass]="{'is-invalid': this.forma.get('OC_DESCUSTOMER').invalid,
                    'is-valid': this.forma.get('OC_DESCUSTOMER').valid}"
            formControlName="OC_DESCUSTOMER" size="75" type="text" id="txtdescliente" class="form-control form-control-sm">
        </div>

      </div>
    </div>

    <div [ngClass]="{'has-danger': this.forma.get('OC_DELIVERYADD').invalid,
                    'has-success': this.forma.get('OC_DELIVERYADD').valid}"
      class="form-group row">
      <div class="col-12">
        <div class="form-inline">
          <label for="txtdirent" class="col-1">Entrega:</label>
          <input [ngClass]="{'is-invalid': this.forma.get('OC_DELIVERYADD').invalid,
                    'is-valid': this.forma.get('OC_DELIVERYADD').valid}"
            formControlName="OC_DELIVERYADD" size="121" type="text" id="txtdirent" class="form-control form-control-sm"
            placeholder="Direccion de entrega">
        </div>
      </div>
    </div>

    <p></p>

    <div class="form-group row">

      <div class="col-2">
        <label for="cmbformapago" class="control-label">Forma de Pago</label>
        <select formControlName="OC_IDPAYMENTTYPE" class="custom-select" id="cmbformapago">
          <option *ngFor="let item of eFormaPagos" [value]="item.PT_ID">{{item.PT_DES}}</option>
        </select>


      </div>

      <div class="col-2">
        <label for="cmbcentrocosto">Centro de Costo</label>
        <select formControlName="OC_IDCENCOST" class="custom-select" id="cmbcentrocosto">
          <option *ngFor="let item of eCentroCostos" [value]="item.ID_CENTER_COST">{{item.DESCRIPTION_CENTER_COST}}</option>
        </select>
      </div>

      <div class="col-2">
        <label for="cmbproyecto">Proyecto</label>
        <select formControlName="OC_IDPROJECT" class="custom-select" id="cmbproyecto">
          <option *ngFor="let item of eProyectos" [value]="item.PJ_ID">{{item.PJ_DES}}</option>
        </select>
        <p></p>
      </div>

      <div class="col-2">
        <label for="cmbtipomoneda" class="control-label">Tipo de Venta</label>
        <select formControlName="OC_IDSALESTYPE" class="custom-select" id="cmbtipomoneda">
          <option *ngFor="let item of eTipoVentas" [value]="item.ST_ID">{{item.ST_DES}}</option>
        </select>
      </div>

      <div class="col-2">
        <label for=""></label>

      </div>

    </div>

    <p></p>

    <div class="form-group row">
      <div class="col-12" style="background-color:white">
        <div class="form-inline">

          <div class="col-1" style="background-color:white">
            <label for="cmbcomodin">Comodin</label>
          </div>
          <div class="col-2" style="background-color:white">
            <select formControlName="OC_IDWILCARD" class="custom-select" id="cmbcomodin">
              <option *ngFor="let item of eComodines" [value]="item.ID_COMMODITY_TYPE">{{item.DESCRIPTION_COMMODITY}}</option>
            </select>
          </div>
          <div class="col-1">
            <label for="OC_WILCARDTEXT">Texto:</label>
          </div>
          <div class="col-6" style="background-color:white">
            <input formControlName="OC_WILCARDTEXT" size="80" type="text" id="OC_WILCARDTEXT" class="form-control form-control-sm"
              placeholder="notas comodin">
          </div>
        </div>
      </div>
    </div>



    <div [ngClass]="{'has-danger': this.forma.get('OC_COMMENT').invalid,
                    'has-success': this.forma.get('OC_COMMENT').valid}"
      class="form-group row col-12">
      <div class="col-sm-11" style="background-color:white">
        <div class="form-inline">
          <label for="" class="col-1">Glosa:</label>
          <input [ngClass]="{'is-invalid': this.forma.get('OC_COMMENT').invalid,
                    'is-valid': this.forma.get('OC_COMMENT').valid}"
            formControlName="OC_COMMENT" size="100" type="text" id="txtdirent" class="form-control form-control-sm"
            placeholder="Observaciones/comentarios/notas">
        </div>
      </div>
      <div class="col-sm-1" style="text-align: center">
        <button (click)="nuevoDet()" class="btn btn-info btn-sm" type="button" [disabled]="!this.forma.valid">
          <i class="fas fa-check-circle"></i>Agregar Articulo</button>
      </div>
    </div>

  </form>

  <hr>

  <table class="table table-striped" *ngIf="bol_lisdet">
    <thead class="">
      <tr>
        <th scope="col">Item</th>
        <th scope="col">Codigo</th>
        <th scope="col">Articulo</th>
        <th scope="col">Unidad</th>
        <th scope="col">Cantidad</th>
        <th scope="col">Prec.Unit</th>
        <th scope="col">Total</th>
        <th scope="col">Opciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let d of vservicio.ePedidosTmp">
        <td>{{d.item}}</td>
        <td>{{d.codigo}}</td>
        <td>{{d.articulo}}</td>
        <td>{{d.unidad}}</td>
        <td>{{d.cantidad}}</td>
        <td>{{d.preunit}}</td>
        <td>{{d.total}}</td>
        <td>
          <button (click)="eliminarItem(d.item)" type="button" class="btn btn-danger btn-sm">
            <i class="fas fa-trash-alt"></i></button>
        </td>
      </tr>
    </tbody>
  </table>


  <!-- seccion html para agregar detalles -->
  <form [formGroup]="frmDet" *ngIf="!bol_lisdet">
    <div class="form-group row">
      <div class="col-12" style="background-color:white">
        <div class="form-inline">
          <label for="txtidarticulo" class="col-1">Articulo:</label>
          <div class="input-group input-group-sm">
            <input formControlName="F_IDARTICULO" size="4" type="text" id="txtidarticulo" class="form-control form-control-sm">
            <button class="btn btn-secondary btn-sm" type="button" id="button-addon2" data-toggle="modal" data-target=".bd-detalle-modal-lg">
              <i class="fas fa-search"></i>
            </button>
          </div>

          <input formControlName="F_DESARTICULO" size="60" type="text" id="txtdesarticulo" class="form-control form-control-sm">
          <label for="txtunimed" class="col-1">Uni.Med:</label>
          <input formControlName="F_UNIMED" size="10" type="text" id="txtunimed" class="form-control form-control-sm">
        </div>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-12" style="background-color:white">
        <div class="form-inline">
          <label for="txticantidad" class="col-1">Cantidad:</label>
          <input (change)="calcularTotal()" formControlName="F_CANTIDAD" size="10" type="text" id="txticantidad" class="form-control form-control-sm">
          <label for="txtprecio" class="col-2">Precio Unitario:</label>
          <input (change)="calcularTotal()" formControlName="F_PRECIO" size="10" type="text" id="txtprecio" class="form-control form-control-sm">
          <label for="txttotal" class="col-1">Total:</label>
          <input (change)="calcularTotal()" formControlName="F_TOTAL" size="10" type="text" id="txttotal" class="form-control form-control-sm">

          <button [disabled]="!this.frmDet.valid" (click)="agregaItem()" class="btn btn-primary btn-sm"><i class="fas fa-check-circle"></i>Aceptar</button>
          <button (click)="cancelarItem()" class="btn btn-danger btn-sm"><i class="fas fa-ban"></i>Cancelar</button>

        </div>
      </div>
    </div>

  </form>


</div>



<!-- Modal -->
<div class="modal fade bd-example-modal-lg" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          Lista de Clientes</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <div class="form-group row">
          <div class="col-2">
            <label class="form-label">Filtrar</label>
          </div>
          <div class="col-8">

            <div class="input-group input-group-sm">
              <input type="text" id="txtpatroncli" #txtpatron (keyup.enter)="HelpBuscarClientes(txtpatron)" class="form-control form-control-sm"
                aria-describedby="button-addon2">
              <div class="input-group-append">
                <button (click)="HelpBuscarClientes(txtpatron)" class="btn btn-secondary" type="button">
                  <i class="fas fa-search"></i>
                </button>
              </div>
            </div>

          </div>
        </div>

        <div class="table-responsive-sm">
          <table class="table table-sm">
            <thead>
              <tr>
                <th>codigo</th>
                <th>Doc</th>
                <th>Descripcion</th>
                <th>Seleccionar</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let p of eClientes, let i = index">
                <td>{{ p.ID_CUSTOMER }}</td>
                <td>{{ p.NUMBER_DOCUMENT }}</td>
                <td>{{ p.DESCRIPTION_CUSTOMER }} </td>
                <td>
                  <button (click)="HelpCargarCliente(p.ID_CUSTOMER)" data-dismiss="modal" type="button" class="btn btn-outline-success btn-sm">
                    <i class="fas fa-check-circle"></i></button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary">Aceptar</button>
      </div>
    </div>
  </div>
</div>






<!-- Modal Articulo-->
<div class="modal fade bd-detalle-modal-lg" id="detalleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Lista de Articulos</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="col-md-12">
          <div class="form-group row">
            <div class="col-sm-1">
              <label class="form-label">Filtrar:</label>
            </div>
            <div class="col-sm-7">
              <div class="input-group input-group-sm mb-3">
                <input type="text" id="txtpatronart" #txtpatronA (keyup.enter)="HelpBuscarArticulos(txtpatronA)" class="form-control form-control-sm"
                  aria-describedby="button-addon2" placeholder="nombre de articulo">
                <div class="input-group-append">
                  <button (click)="HelpBuscarArticulos(txtpatronA)" class="btn btn-outline-secondary btn-sm" type="button">
                    <i class="fas fa-search"></i></button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="table-responsive-sm">
          <table class="table table-sm">
            <thead>
              <tr>
                <th>codigo</th>
                <th>Descripcion</th>
                <th>Unidad</th>
                <th>Lote?</th>
                <th>Seleccionar</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let a of eArticulos, let i = index">
                <td>{{ a.COD_ALT }}</td>
                <td>{{ a.DESCRIPTION_ARTICLE }}</td>
                <td>{{ a.ID_UNIT }}</td>
                <td>
                  <span *ngIf="a.SKU_ARTICLE ==1">SI</span>
                  <span *ngIf="a.SKU_ARTICLE ==0">NO</span>
                </td>
                <td>
                  <button (click)="HelpCargarArticulo(a.ID_ARTICLE)" data-dismiss="modal" type="button" class="btn btn-outline-success btn-sm">
                    <i class="fas fa-check-circle"></i></button>
                  <!-- <button (click)="HelpCargarProveedor(a.ID_ARTICLE)" data-dismiss="modal" type="button" class="btn btn-outline-success">Sel</button> -->
                </td>
              </tr>
            </tbody>
          </table>
        </div>


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary">Aceptar</button>
      </div>
    </div>
  </div>
</div>