<div class="main-container">
  <h3>Listado de Pedidos</h3>
  <form [formGroup]="forma">

    <div class="form-group row">


      <div class="col-3">
        <label class="col-form-label">Opciones de Busqueda:</label>
        <!-- (change)="cambioTipo($event.target.value)" -->
        <select class="form-control form-control-sm">
          <option value="0">Mes de Proceso...</option>
          <option value="1">Enero</option>
          <option value="2">Febrero</option>
          <option value="3">Marzo</option>
          <option value="4">Abril</option>
          <option value="5">Mayo</option>
          <option value="6">Junio</option>
          <option value="7">Julio</option>
          <option value="8">Agosto</option>
          <option value="9">Setiembre</option>
          <option value="10">Octubre</option>
          <option value="11">Noviembre</option>
          <option value="12">Diciembre</option>
        </select>
      </div>



      <div class="col-3">
        <div class="">
          <div class="input-group input-group-sm mb-3">
            <button (click)="cargarPedidos()" class="btn btn-outline-secondary" type="button">
              Buscar...
              <i class="fas fa-search"></i>
            </button>
          </div>
        </div>
      </div>

      <div class="col-3">
        <button [routerLink]="['/pedido']" type="button" name="btn_nuevo" class="btn btn-outline-primary">
          <i class="fas fa-plus-circle"></i>
          Nuevo Pedido
        </button>
      </div>
    </div>




    <div class="table-responsive table-sm">
      <table class="table">
        <thead class="thead-light">
          <tr>
            <th scope="col">#</th>
            <th scope="col">F.Emision</th>
            <th scope="col">F.Entrega</th>
            <th scope="col">Numero</th>
            <th scope="col">Cliente</th>
            <th scope="col">Glosa</th>
            <th scope="col">Estado</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of ePedidos">
            <th scope="row">{{item.IDORDER}}</th>
            <td>{{item.FECEMI}}</td>
            <td>{{item.FECENT}}</td>
            <td>{{item.NUMERO}}</td>
            <td>{{item.CLIENTE}}</td>
            <td>{{item.GLOSA}}</td>
            <td>{{item.ESTADO}}</td>
          </tr>
        </tbody>

      </table>
    </div>
  </form>
</div>