<!-- <h3>Pedido de Venta</h3> -->
<small><u>Vista para Impresion</u></small>
<h5> IdPedido : {{id}}</h5>
<h5> Referencia : <small>{{ePedido.Cabecera.NUMPEDIDO}}</small></h5>

<div class="form-group row  animated fadeIn fast">
  <table class="table table-sm">
    <tr>
      <td style="text-align: right" colspan="4">
        <button [routerLink]="['/pedidos']" class="btn btn-outline-warning no-print btn-sm">
          <i class="fas fa-chevron-circle-left"></i>Regresar</button>
        <button (click)="imprimir()" class="btn btn-outline-warning no-print btn-sm">
          <i class="fas fa-print"></i>Imprimir</button></td>
    </tr>
    <tr>
      <th><label>Fecha Emision:</label></th>
      <td><label>{{ePedido.Cabecera.FECHAEMI}}</label></td>
      <th><label>Fecha Entrega:</label></th>
      <td><label>{{ePedido.Cabecera.FECHAENT}}</label></td>
    </tr>

    <tr>
      <th><label>Direccion de Entrega:</label></th>
      <td><label>{{ePedido.Cabecera.DIRENT}}</label></td>
      <th><label>Tipo de Pago:</label></th>
      <td><label>{{ePedido.Cabecera.TIPOPAGO}}</label></td>
    </tr>

    <tr>
      <th><label>Moneda:</label></th>
      <td><label>{{ePedido.Cabecera.MONEDA}}</label></td>
      <th><label>Centro de Costo:</label></th>
      <td><label>{{ePedido.Cabecera.CENTROCOSTO}}</label></td>
    </tr>

    <tr>
      <th><label>Cliente:</label></th>
      <td><label>{{ePedido.Cabecera.CLIENTE}}</label></td>
      <th><label>Vendedor:</label></th>
      <td><label>{{ePedido.Cabecera.VENDEDOR}}</label></td>
    </tr>

    <tr>
      <th><label>Proyecto:</label></th>
      <td><label>{{ePedido.Cabecera.PROYECTO}}</label></td>
      <th><label>Tipo Venta:</label></th>
      <td><label>{{ePedido.Cabecera.TIPOVENTA}}</label></td>
    </tr>

    <tr>
      <th><label>Comodin:</label></th>
      <td><label>{{ePedido.Cabecera.COMODIN}}</label></td>
      <th><label>Estado:</label></th>
      <td><label>{{ePedido.Cabecera.ESTADO}}</label></td>
    </tr>

    <tr>
      <th><label>Comentarios:</label></th>
      <td colspan="3"><label>{{ePedido.Cabecera.GLOSA}}</label></td>
    </tr>
  </table>
</div>

<hr>


<div class="row  animated fadeIn fast">
  <table class="table table-striped">
    <thead class="">
      <tr>
        <th scope="col">Item</th>
        <th scope="col">Articulo</th>
        <th scope="col">Cantidad</th>
        <th scope="col">Cant.Despach.</th>
        <th scope="col">Precio</th>
        <th scope="col">Total</th>
        <th scope="col">Estado</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let a of ePedido.Detalle">
        <td>{{ a.ITEM }}</td>
        <td>{{ a.ARTICULO }}</td>
        <td>{{ a.CANTIDAD }}</td>
        <td>{{ a.CANTIDADDES }}</td>
        <td>{{ a.PRECIO }}</td>
        <td>{{ a.TOTAL }}</td>
        <td>{{ a.ESTADO }}</td>
      </tr>
    </tbody>
  </table>


</div>