<div class="container">

  <h4 *ngIf="tipoRep == 'P'">Documento Pendientes de Cobro</h4>
  <h4 *ngIf="tipoRep == 'C'">Documento Cobrados</h4>

  <hr>
  <form [formGroup]="forma" role="form">
    <div class="row">
      <div class="col-md-3">
        <label for="cmbcliente">Cliente</label>
        <select formControlName="cmbcliente" class="custom-select" id="cmbcliente">
          <option *ngFor="let item of eClientes" [value]="item.ID_CUSTOMER">{{item.DESCRIPTION_CUSTOMER}}</option>
        </select>
        <div class="custom-control custom-checkbox">
          <input formControlName="f_chkTodos" type="checkbox" class="custom-control-input" id="customCheck1">
          <label class="custom-control-label" for="customCheck1"><b>Todos</b></label>
        </div>
      </div>

      <div class="col-md-2">
        <label for="txtfec1" class="control-label">Desde</label>
        <input formControlName="txtfec1" size="20" type="date" id="txtfec1" class="form-control form-control-sm">
      </div>

      <div class="col-md-2">
        <label for="txtfec2" class="control-label">Hasta</label>
        <input formControlName="txtfec2" size="20" type="date" id="txtfec2" class="form-control form-control-sm">
      </div>

      <div class="col-md-2">
        <button (click)="CargarReporte()" type="button" class="btn btn-warning no-print btn-sm btn-block">
          <i class="fas fa-search"></i>Ver Reporte</button>
      </div>

      <div class="col-md-2">
        <button (click)="imprimir()" type="button" class="btn btn-warning no-print btn-sm btn-block">
          <i class="fas fa-print"></i>Imprimir</button>
      </div>


    </div>
  </form>
  <hr>

  
  <app-loading *ngIf="bol_cargando"></app-loading>
  <table class="table table-striped" *ngIf="!bol_cargando">
    <thead class="">
      <tr>
        <th>CLIENTE</th>        
        <th>DOCUMENTO</th>
        <th>FECHA</th>
        <th>FORMA PAGO</th>
        <th>IMPORTE</th>
        <th>SALDO</th>
        <th>MON</th>
        <th>TC</th>
        <th>VENDEDOR</th>                
        <th>PTOVTA</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of eListado">
        <td> {{item.DOCCLIENTE}} - {{item.CLIENTE}}</td>
        <td>{{item.TD}} -{{item.SD}} -{{item.ND}}</td>
        <td>{{item.FD}} - {{item.VD}}</td>
        <td>{{item.FP}}</td>
        <td>{{item.IMPORTE | number:'.2' }}</td>
        <td>{{item.SALDO | number:'.2' }}</td>
        <td>{{item.MON}}</td>
        <td>{{item.TC | number:'.3'}}</td>
        <td>{{item.VENDEDOR}}</td>        
        <td>{{item.PV}}</td>
      </tr>
    </tbody>
  </table>


</div>