<div class="main-container">
    <h4 class="card-title">Lista de Articulos</h4>
  <hr>

  <button [routerLink]="['/articulo','nuevo']" type="button" name="btn_nuevo" class="btn btn-outline-primary">
    <i class="fas fa-plus-circle"></i></button>
  <br>
  <br>

  <div class="row  animated fadeIn fast">
    <div class="col-md-12">
      <div class="table-responsive">

        <table class="table table-striped">
          <thead class="">
            <tr>
              <td scope="col">Codigo</td>
              <td scope="col">Descripcion</td>
              <td scope="col">Unidad</td>
              <td scope="col">Tipo Mercaderia</td>
              <td scope="col">Nombre Comercial</td>
              <td scope="col">Nombre Tecnico</td>
              <td scope="col">Familia</td>
              <td scope="col">Modelo</td>
              <td scope="col">Opciones</td>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let a of eArticulo">
              <td>{{ a.ID_ARTICLE }}</td>
              <td>{{ a.DESCRIPTION_ARTICLE }}</td>
              <td>{{ a.ID_UNIT }}</td>
              <td>{{ a.ID_COMMODITY_TYPE }}</td>
              <td>{{ a.COMMERCIAL_NAME }}</td>
              <td>{{ a.TECHNICAL_NAME }}</td>
              <td>{{ a.ID_FAMILY }}</td>
              <td>{{ a.MODEL }}</td>              
              <td>
                <button [routerLink]="['/articulo',a.ID_ARTICLE]" type="button" class="btn btn-success btn-sm">
                  <i class="fas fa-edit"></i></button>
                <button (click)="borrarArticulo(a.ID_ARTICLE)" type="button" class="btn btn-danger btn-sm">
                    <i class="fas fa-trash-alt"></i></button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>